{% extends 'base.html.twig' %}
{% block title %}iFlora Auction Market{% endblock %}
{% block pageclass %}
<body data-container="body"
      class="page-with-filter page-products categorypath-short-sleeve category-short-sleeve catalog-category-view page-layout-2columns-left">
{% endblock %}
{% block body %}
<div class="category-view">
    <div class="page-title-wrapper">
        <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">
            <span class="base" data-ui-id="page-title-wrapper">Auction Market</span></h1>
    </div>
    <div class="breadcrumbs">
        <ul class="items">
            <li class="item home">
                <a href="{{ path('grower_dashboard') }}" title="Go to Home Page">
                    Home </a>
            </li>
            <li class="item category131">
                <strong>Auction Market</strong>
            </li>
            <li class="item category131">
                <strong>Unassigned Stock</strong>
            </li>
        </ul>
    </div>
</div>
<main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

    <div class="page messages">
        <div data-placeholder="messages">
        </div>
        <div data-bind="scope: 'messages'">
            <div class="messages" data-bind="foreach: { data: cookieMessages, as: 'message' }">
                </div>
            <div class="messages" data-bind="foreach: { data: messages().messages, as: 'message' }">
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column main">
            <div class="modes">
                <strong id="modes-label" class="modes-label">View as</strong>
                <strong class="modes-mode active mode-grid" data-value="grid" title="Grid">
                    <span>Grid</span> </strong>
            </div>
            <div class="toolbar toolbar-products">

                <p id="toolbar-amount" class="toolbar-amount">Items
                    <span class="toolbar-number">1</span>-<span class="toolbar-number">9</span>
                    of <span class="toolbar-number">{{ products.getTotalItemCount }}</span></p>


                <div class="toolbar-sorter sorter">
                    <label class="sorter-label" for="sorter">Sort By</label>
                    <table>
                            <tr>
                                {# sorting of properties based on query components #}
                                <th>{{ knp_pagination_sortable(products, 'Price', 'product.price') }}</th>
                                <th{% if products.isSorted('product.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(products, 'Title', 'product.title') }}</th>

                            </tr>
                    </table>

                    <a class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc"
                       href="#" title="Set Descending Direction">
                        <span>Set Descending Direction</span> </a></div>
            </div>
            <div class="products wrapper list products-list">
                <ol class="products list items product-items">
                    {% for auction in products %}
                        <li class="item product product-item" style="float: left;max-width:450px">
                            <div class="product-item-info" data-container="product-grid" style="">
                                <div class=" product-item-images">
                                    <a href="{{ path('grower_auction_product_edit',{'id':auction.id}) }}"
                                       class="product photo product-item-photo" tabindex="-1">

<span class="product-image-container" style="width:350px;">
    <span class="product-image-wrapper" style="padding-bottom: 126%;">
        <img class="product-image-photo" src="{{ asset('images/products/') }}{{ auction.product.mainImage }}" width="350"
             height="441" alt="{{ auction.product.title }}"></span>
</span>
                                    </a>
                                </div>

                                <div class="product-item-details">
                                    <div class="content-name">
                                        <strong class="product name product-item-name">
                                            <a class="product-item-link"
                                               href="{{ path('grower_auction_product_edit',{'id':auction.id}) }}">
                                                {{ auction.product.title }}                            </a>
                                        </strong>


                                    </div>

                                    <div class="price-box price-final_price" data-role="priceBox"
                                         data-product-id="63">


<span class="price-container price-final_price tax weee">
        <span  class="price-wrapper ">
        <span class="price">{{ app.user.myCompany.currency }} {{ auction.pricePerStem  }}</span>    </span>
        </span>
                                        <table class="attributes">
                                            <tr>
                                                <td><strong>Stock:</strong> {{ auction.numberOfStems | number_format }} </td>

                                            </tr>
                                            <tr>
                                                <td><strong>Assigned:</strong> {{ auction.numberOfAgentStems | number_format }} </td>

                                            </tr>
                                            <tr>
                                                <td><strong>Quality:</strong> {{ auction.quality }} </td>
                                            </tr>

                                            <tr>
                                                <td><strong>Status:</strong>
                                                            <div class="alert alert-warning" style="display:inline-block;text-align:center;width:150px;padding:5px">{{ auction.status }}</div>
                                                     </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="price-box price-final_price" data-role="priceBox" data-product-id="63">
                                            <span class="price-container price-final_price tax weee">
                                                    <span  class="price-wrapper ">
                                                </span>

                                    </div>

                                    <div class="product description product-item-description">


                                    </div>

                                    <div class="product-item-actions">
                                        <div class="add-to-cart-primary">
                                            <a title="Edit Product" class="action tocart primary"
                                               href="{{ path('grower_auction_product_edit',{'id':auction.id}) }}">
                                                <span><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit Product</span>
                                            </a>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </li>
                        {% endfor %}
                </ol>
                </div>


            <div class="toolbar toolbar-products">
                <div class="modes">
                    <strong id="modes-label" class="modes-label">View as</strong>
                    <strong class="modes-mode active mode-grid" data-value="grid" title="Grid">
                        <span>Grid</span> </strong>
                    <a id="mode-list" aria-labelledby="modes-label mode-list" class="modes-mode mode-list"
                       data-role="mode-switcher" data-value="list" href="#" title="List">
                        <span>List</span> </a></div>
                <p id="toolbar-amount" class="toolbar-amount">Items
                    <span class="toolbar-number">1</span>-<span class="toolbar-number">9</span>
                    of <span class="toolbar-number">10</span></p>

                <div class="pages">
                    <strong id="paging-label" class="label pages-label">Page</strong>
                    {# display navigation #}
                    <div class="navigation text-center">
                        {{ knp_pagination_render(products) }}
                    </div>
                </div>

                <div class="toolbar-sorter sorter">
                    <label class="sorter-label" for="sorter">Sort By</label>
                    <select id="sorter" class="sorter-options" data-role="sorter">
                        <option selected="selected" value="position">Position</option>
                        <option value="name">Product Name</option>
                        <option value="price">Price</option>
                    </select>
                    <a class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc"
                       href="#" title="Set Descending Direction">
                        <span>Set Descending Direction</span> </a></div>
            </div>
            </div>
        {% include(':grower:sidebar.htm.twig') %}

        </div>
</main>

{% endblock %}