{% extends 'base.html.twig' %}
{% block title %} Checkout{% endblock %}
{% block body %}
    <div class="breadcrumbs">
        <ul class="items">
            <li class="item home">
                <a href="{{ path('agent_dashboard') }}" title="Go to Home Page">
                    Home </a>
            </li>
            <li class="item home">
                <a href="{{ path('agent_auction_product_list') }}" title="Go to Home Page">
                    Auction Market </a>
            </li>
            <li class="item product">
                <strong>Checkout - Buyers</strong>
            </li>
        </ul>
    </div>

    <section class="section-checkout-page section-shopping-cart-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-9">
                    <div class="panel-group checkout-accordions">
                        <div class="panel">

                            <div id="checkout-page">  <!-- Checkout progress -->

                                <div id="checkout-progress">
                                    <ul class="breadcrumb list-inline checkout-progress">
                                        <li>SHIPPING METHOD</li>
                                        <li><a class="progress-active">BUYER</a></li>
                                        <li>CONFIRM ORDER</li>
                                        <li>PAYMENT</li>
                                    </ul>
                                </div>


                                <!-- End id="checkout-progress" -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <span>SELECT Buyer</span>
                                    </h4>
                                </div>
                                <div class="panel-body step-3">
                                    {{ form_start(buyerCheckoutForm) }}
                                    <div class="section-shopping-cart-page row field-row">
                                        {{ form_row(buyerCheckoutForm.agent,{ 'label':'Buyer','placeholder':'Select a Buyer','attr': {'class': 'select'} }) }}
                                    </div>
                                    <div class="row field-row checkout-button-row">
                                        <div class="col-xs-6 button-holder">
                                            <a class="md-button gray step-btn" href="#"><span class="fa fa-chevron-circle-left"></span> shipping method</a>
                                        </div>
                                        <div class="col-xs-6 primary pull-right">
                                            <button class="md-button action primary" type="submit" id="billing-continue"> continue <span class="fa fa-chevron-circle-right"></span></button>
                                        </div>

                                    </div>

                                    <input type="hidden" id="billing-current-step" name="step" value="billing_info">
                                    <input type="hidden" id="billing-next-step" name="nextStep" value="shipping_info">
                                    {{ form_end(buyerCheckoutForm) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="cart-totals"> {{ include(':home/auctionCheckout:product-totals.htm.twig') }}</div>

            </div>

        </div>
    </section>
{% endblock %}