<div class="block review-add">
    <div class="" style="border-bottom: 1px solid #f1f1f1"><strong>Write Your Own Review</strong></div>
    <div class="block-content">
{{ form_start(ratingForm, {'action': path('rate-auction'),'method':'POST','attr': {'id': 'rating-form'} } ) }}
        <fieldset class="fieldset review-fieldset" data-hasrequired="">
                 <fieldset class="field required review-field-ratings">
                    <div class="control">
                        <div class="nested" id="product-review-table">
                            <div class="field choice review-field-rating">
                                {{ form_row(ratingForm.quality) }}
                            </div>
                            <div class="field choice review-field-rating">
                                {{ form_row(ratingForm.price)}}
                            </div>
                            <div class="field choice review-field-rating">
                                {{ form_row(ratingForm.value) }}
                            </div>
                        </div>
                     </div>
                </fieldset>
                <div class="field review-field-summary required">
                    <div class="control">
                {{ form_row(ratingForm.summary) }}
                    </div>
                </div>
                <div class="field review-field-text required">
                    <div class="control">
                {{ form_row(ratingForm.review) }}
                    </div>
                </div>
            </fieldset>
        <input type="hidden" name="rose" value="{{ rose.id }}"/>
            <div class="actions-toolbar review-form-actions">
                <div class="primary actions-primary">
                    <button type="submit" class="action submit primary"> <i id="rate" class="fa fa-telegram"></i> &nbsp;<span> <span>Submit Review</span></button>
                </div>
            </div>
        {{ form_end(ratingForm) }}

    </div>
</div>
<style>
    .control-label {
        padding: 6px 15px 0 0;
        text-align: right;
        width: 9.8%;
        float: left;

    }
</style>