{% extends 'base.html.twig' %}
{% block title %} Order Details{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('.js-request-user').on('click', function (e) {
                e.preventDefault();

                var $el = $(this).closest('.js-agent-item');

                $(this).find('.fa-thumbs-o-up')
                    .removeClass('fa-thumbs-o-up')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');
                $.ajax({
                    url: $(this).data('url'),
                    method: 'GET'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $('.requestResponse').html('Order Request Accepted');
                    $(".messages").fadeIn("slow");

                    $("#accept")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');

                });
            });
            $('.js-reject-user').on('click', function (e) {
                e.preventDefault();


                $(this).find('.fa-thumbs-o-down')
                    .removeClass('fa-fa-thumbs-o-down')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');
                $.ajax({
                    url: $(this).data('url'),
                    method: 'GET'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $('.requestResponse').html('Order Request Rejected');
                    $(".messages").fadeIn("slow");

                    $("#reject")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');

                });
            });
        })
    </script>
{% endblock %}
{% block body %}
    <div class="breadcrumbs">
        <ul class="items">
            <li class="item home">
                <a href="{{ path('agent_dashboard') }}" title="Go to Home Page">
                    Home </a>
            </li>
            <li class="item home">
                <a href="{{ path('my_agent_assigned_order_list') }}" title="Go to Home Page">
                    Assigned Orders </a>
            </li>
            <li class="item product">
                <strong>Order Details</strong>
            </li>
        </ul>
    </div>
    <div class="page messages">
        <div class="messages" style="">
            <div class="message-success success message">
                <div class="requestResponse">
                    You request has been processed.
                </div>
            </div>

        </div>
    </div>
    <section class="section-shopping-cart-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h4>
                        Below are the Items in your Assigned Order.
                        <a
                                href="#"
                                class="action accept  js-request-user"
                                data-url="{{ path('accept-order-assignment',{
                                    'id': order.id
                                }) }}"
                                title="Accept Request">
                            <span id="accept" class="fa fa-thumbs-o-up"> </span> Accept

                        </a>&nbsp;
                        <a
                                href="#"
                                class="action request js-reject-user"
                                data-url="{{ path('reject-order-assignment',{
                                    'id': order.id
                                }) }}"
                                title="Cancel Request">
                            <span id="reject" class="fa fa-thumbs-o-down"> </span> Reject

                        </a>


                    </h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-9">
                    <div class="items-holder">
                        {% for orderItem in orderItems %}
                        <div class="cart-item row">
                            <div class="col-sm-2 col-lg-3">
                                <div class="image">
                                    <img width="120" height="120" alt="" src="{{ asset('images/products/') }}{{ orderItem.product.imageName }}">
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4">
                                <div class="brand">
                                </div>
                                <div class="title">
                                    <a href="{{ path('product_details',{
                                        'id': orderItem.product.id
                                    }) }}">{{ orderItem.product.title }}</a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-5 details no-edit">
                                <div class="unit-price">
                                    <span class="visible-xs">Price</span>
                                    {{ order.orderCurrency }} {{ orderItem.unitPrice | number_format(2, '.', ',') }}
                                </div>
                                <div class="quantity">
                                    <span class="visible-xs">Quantity</span>
                                    {{ orderItem.quantity | number_format }}
                                </div>
                                <div class="total-price">
                                    <span class="visible-xs">Total</span>
                                    {{ order.orderCurrency }} {{ orderItem.lineTotal | number_format(2, '.', ',') }}
                                </div>
                            </div>
                        </div>
                         {% endfor %}
                    </div>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="right-sidebar">
                        <h4>Order Summary</h4>
                        <hr/>
                        <p><strong>Order number: </strong> #46 </p>
                        <p><strong>Payment method: </strong> {{ order.processingFee }}</p>
                        <p><strong>Order Date: </strong> {{ order.createdAt | date('d-m-Y H:i:s')  }}</p>
                        <p><strong>Subtotal:</strong> <i>{{ order.orderCurrency }} {{ order.orderAmount | number_format(2, '.', ',') }}</i></p>
                        <p><strong>Shipping:</strong> <i>{{ order.orderCurrency }} {{ order.shippingCost | number_format(2, '.', ',') }}</i></p>
                        <p class="subtotal"><strong>Total:</strong>  <i>{{ order.orderCurrency }} {{ order.orderTotal | number_format(2, '.', ',') }}</i></p>
                        <br/>
                        <h4>Billing Address</h4>
                        <hr/>
                        <p><strong>Names: </strong> {{ billingAddress.firstName }} {{ billingAddress.lastName }} </p>
                        <p><strong>Company: </strong> {{ billingAddress.company }}</p>
                        <p><strong>Street Address: </strong> {{ billingAddress.streetAddress }}</p>
                        <p><strong>Town: </strong> {{ billingAddress.town }}</p>
                        <p><strong>Zip: </strong> {{ billingAddress.zip }}</p>
                        <p><strong>Country: </strong> {{ billingAddress.country }}</p>
                        <p><strong>Email: </strong> {{ billingAddress.emailAddress }}</p>
                        <p><strong>Phone: </strong> {{ billingAddress.phoneNumber }}</p>
                        <br/>
                        <h4>Shipping Address</h4>
                        <hr/>
                        <p><strong>Names: </strong> {{ shippingAddress.firstName }} {{ shippingAddress.lastName }} </p>
                        <p><strong>Company: </strong> {{ shippingAddress.company }}</p>
                        <p><strong>Street Address: </strong> {{ shippingAddress.streetAddress }}</p>
                        <p><strong>Town: </strong> {{ shippingAddress.town }}</p>
                        <p><strong>Zip: </strong> {{ shippingAddress.zip }}</p>
                        <p><strong>Country: </strong> {{ shippingAddress.country }}</p>
                        <p><strong>Email: </strong> {{ shippingAddress.emailAddress }}</p>
                        <p><strong>Phone: </strong> {{ shippingAddress.phoneNumber }}</p>
                        <div class="right">
                            <a class="action primary" href="{{ path('my_agent_assigned_order_list') }}">Back to Orders</a><br/><br/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="clearfix"></div>
{% endblock %}