{% extends 'base.html.twig' %}
{% block title %} Shipping Address{% endblock %}
{% block body %}
    <section class="section-checkout-page section-shopping-cart-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-9">
                    <div class="panel-group checkout-accordions">
                        <div class="panel">

                            <!-- Checkout progress -->
                            <div id="checkout-progress">
                                <ul class="breadcrumb list-inline checkout-progress">
                                    <li>BILLING ADDRESS</li>
                                    <li><a class="progress-active">SHIPPING ADDRESS</a></li>
                                    <li>SHIPPING METHOD</li>
                                    <li>PAY</li>
                                </ul>
                            </div>
                            <div id="checkout-page">
                                <!-- End id="checkout-progress" -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <span>shipping address</span>
                                    </h4>
                                </div>
                                <div class="panel-body step-1">
                                    {{ form_start(shippingAddressForm) }}
                                    {{ form_widget(shippingAddressForm) }}
                                    <div class="row">
                                        <div class="col-xs-6 button-holder">
                                            <a class="md-button gray step-btn"
                                               href="{{ path('billing-address') }}"><span
                                                        class="fa fa-chevron-circle-left"></span> billing address</a>
                                        </div>
                                        <div class="col-xs-6 button-holder right">
                                            <button type="submit" class="md-button step-btn" formnovalidate>Continue
                                            </button>
                                        </div>
                                    </div>
                                    {{ form_end(shippingAddressForm) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="cart-totals"> {{ include(':partials:checkout-totals.htm.twig') }}</div>
            </div>

        </div>
    </section>

{% endblock %}

