<div class="col-md-12 col-lg-3">
    <div class="right-sidebar">
        {% if cart.nrItems %}
            <div class="widget shopping-cart-summary">
                <h4 class="md-bordered-title">shopping cart summary</h4>

                <form>
                    <fieldset>
                        <label class="col-xs-6">subtotal</label>
                        <span class="col-xs-6 value">{{ cart.cartCurrency }} {{ cart.cartAmount | number_format(2, '.', ',') }}</span>
                    </fieldset>

                    <fieldset>
                        <label class="col-xs-6">shipping</label>
                        <span class="col-xs-6 value">{{ cart.cartCurrency }} {{ cart.shippingCost | number_format(2, '.', ',') }}</span>
                    </fieldset>
                    <hr>
                    <fieldset class="total">
                        <label class="col-xs-6">order total</label>
                        <span class="col-xs-6 value">{{ cart.cartCurrency }} {{ cart.cartTotal | number_format(2, '.', ',') }}</span>
                    </fieldset>


                </form>
            </div>
        {% else %}
            <h4 class="md-bordered-title">Your cart is empty!</h4>
            <a class="md-button col-xs-12 cart-empty-button" href="{{ path('products') }}">Continue shopping <span
                        class="fa fa-arrow-circle-right"></span></a>
        {% endif %}
    </div>
</div>