<div class="product-item text-center">

        <a href="/shop/{{ product.id }}/view">
            <img class="product-img" src="{{ asset('images/products/') }}{{ product.imageurl }}" alt="{{ product.title }}" />
        </a>

    <hr>
    <div class="title uppercase bold">
        <a href="/shop/{{ product.id }}/view">{{ product.title }}</a>
    </div>
    <div class="price">

        <span>{{ product.currency }} {{ product.price }}</span>
    </div>
    <div class="buttons-holder">
        <div class="add-cart-holder">
            {{ form_start(form) }}
            <input type="hidden" name="productCurrency" value="{{ product.currency }}"/>
            <input type="hidden" name="productPrice" value="{{ product.price }}"/>
            <input type="hidden" name="productId" value="{{ product.id }}"/>
            <input type="hidden" name="quantity" value="1"/>

            <button class="md-button">Add to Cart</button>

            {{ form_end(form) }}
        </div>
    </div>
</div>