<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}iFlora{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ asset('majorca/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Font Awesome -->
        <link href="{{ asset('majorca/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{{ asset('majorca/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{{ asset('majorca/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">

        <!-- bootstrap-progressbar -->
        <link href="{{ asset('majorca/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
        <!-- JQVMap -->
        <link href="{{ asset('majorca/vendors/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet"/>
        <!-- bootstrap-daterangepicker -->
        <link href="{{ asset('majorca/vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="{{ asset('majorca/build/css/custom.min.css') }}" rel="stylesheet">

        <!-- Datatables -->
        <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">

    {% endblock %}


</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_dashboard') }}" class="site_title"><i class="fa fa-paw"></i> <span>iFlora</span></a>
                    {% elseif is_granted('ROLE_GROWER') %}
                        <a href="{{ path('grower_dashboard') }}" class="site_title"><i class="fa fa-paw"></i> <span>iFlora</span></a>
                    {% elseif is_granted('ROLE_BREEDER') %}
                        <a href="{{ path('breeder_dashboard') }}" class="site_title"><i class="fa fa-paw"></i> <span>iFlora</span></a>
                    {% endif %}
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="{{ asset('images/products/image02.jpg') }}" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>{{ app.user.firstName }}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />
                {% if is_granted('ROLE_ADMIN') %}
                    {{ include(':admin:sidebar.htm.twig') }}
                {% elseif is_granted('ROLE_GROWER') %}
                    {{ include(':grower:sidebar.htm.twig') }}
                {% elseif is_granted('ROLE_BREEDER') %}
                    {{ include(':breeder:sidebar.htm.twig') }}
                {% endif %}

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="{{ path('security_logout') }}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>
        {{ include(':admin:top-navigation.htm.twig') }}

        <div class="right_col" role="main" style="min-height: 1704px">
            {% block body %}{% endblock %}
        </div>
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                iFlora eMarketplace - Powered by <a href="#">Karbon Framenwork</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>
{% block javascripts %}

    <!-- jQuery -->
    <script src="{{ asset('majorca/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('majorca/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('majorca/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('majorca/vendors/nprogress/nprogress.js') }}"></script>
    <!-- Chart.js -->
    <script src="{{ asset('majorca/vendors/Chart.js/dist/Chart.min.js') }}"></script>
    <!-- gauge.js -->
    <script src="{{ asset('majorca/vendors/gauge.js/dist/gauge.min.js') }}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ asset('majorca/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('majorca/vendors/iCheck/icheck.min.js') }}"></script>
    <!-- Skycons -->
    <script src="{{ asset('majorca/vendors/skycons/skycons.js') }}"></script>
    <!-- Flot -->
    <script src="{{ asset('majorca/vendors/Flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('majorca/vendors/Flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('majorca/vendors/Flot/jquery.flot.time.js') }}"></script>
    <script src="{{ asset('majorca/vendors/Flot/jquery.flot.stack.js') }}"></script>
    <script src="{{ asset('majorca/vendors/Flot/jquery.flot.resize.js') }}"></script>
    <!-- Flot plugins -->
    <script src="{{ asset('majorca/vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
    <script src="{{ asset('majorca/vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
    <script src="{{ asset('majorca/vendors/flot.curvedlines/curvedLines.js') }}"></script>
    <!-- DateJS -->
    <script src="{{ asset('majorca/vendors/DateJS/build/date.js') }}"></script>
    <!-- JQVMap -->
    <script src="{{ asset('majorca/vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
    <script src="{{ asset('majorca/vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
    <script src="{{ asset('majorca/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('majorca/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('majorca/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('majorca/build/js/custom.min.js') }}"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#datatable').DataTable();
        });

    </script>
{% endblock %}
</body>
</html>
