{% extends 'base.html.twig' %}
{% block title %}{{ buyer.companyName }}{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        // prepare the form when the DOM is ready
        $(document).ready(function() {

            $('.js-request-user').on('click',function (e) {
                e.preventDefault();


                $(this).find('.fa-plus-circle')
                    .removeClass('fa-plus-circle')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');
                $.ajax({
                    url: $(this).data('url'),
                    method: 'GET'
                }).done(function () {
                    $(".messages").fadeIn("slow");

                    $("#add-t-cart")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    location.reload();
                }).fail(function () {
                    $(".failure").fadeIn("slow");

                    $("#add-t-cart")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-times');
                });
            });
            // bind to the form's submit event
            $('#rating-form').submit(function(f) {
                var ajaxRequest;
                //Prevent Normal Submit
                f.preventDefault();

                $(".messages").fadeOut("slow");

                $(this).find('.fa-telegram')
                    .removeClass('fa-telegram')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                var form = document.getElementById("rating-form");
                var elements = form.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                // get form values
                var ratingValues = $(this).serialize();

                $.ajax({
                    url: $(this).attr("action"),
                    data: ratingValues,
                    method: 'POST'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $(".control").fadeOut("slow");


                    $("#rate")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    location.reload();
                })

            });

            // bind to the form's submit event
            $('#comment-form').submit(function(f) {
                var ajaxRequest;
                //Prevent Normal Submit
                f.preventDefault();

                $(".messages").fadeOut("slow");

                $(this).find('.fa-telegram')
                    .removeClass('fa-telegram')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                var form = document.getElementById("comment-form");
                var elements = form.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                // get form values
                var commentValues = $(this).serialize();

                $.ajax({
                    url: $(this).attr("action"),
                    data: commentValues,
                    method: 'POST'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $(".control").fadeOut("slow");


                    $("#comment")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    location.reload();
                }).fail(function () {
                    $(".failure").fadeIn("slow");

                    $("#comment")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-times');
                });

            });

        });


    </script>
{% endblock %}
{% block pageclass %}
<body data-container="body" itemscope="itemscope"
      class="catalog-product-view product page-layout-1column" aria-busy="false">
{% endblock %}
{% block body %}

<div class="breadcrumbs">
    <ul class="items">
        <li class="item home">
            <a href="{{ path('grower_dashboard') }}" title="Go to Home Page">
                Home </a>
        </li>
        <li class="item home">
            <a href="{{ path('grower_buyer_list') }}" title="Go to Home Page">
                Buyers </a>
        </li>
        <li class="item product">
            <strong>{{ buyer.companyName }}</strong>
        </li>
    </ul>
</div>
<main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

    <div class="page messages">
        <div class="messages" style="">
            <div class="message-success success message">
                <div>
                    You added {{ buyer.companyName }} to your List of Buyers.
                </div>
            </div>

        </div>
    </div>
    <div class="page failure">

                <div class="alert alert-danger">
                    <strong>:-(</strong> Something went wrong. Refresh the Page and try again.
                </div>

    </div>
    <div class="columns">
        <div class="column main">
            <div class="product-info-main">
                <div class="page-title-wrapper product">
                    <h1 class="page-title">
				<span class="base" data-ui-id="page-title-wrapper" itemprop="name">
				{{ buyer.companyName }}</span></h1>
                </div>

                {% if buyer.reviews | length > 0 %}

                    {% set sumQualityratings = 0 %}
                    {% set avgQualityRatings=0 %}
                    {% for rating in buyer.reviews %}
                        {% set sumQualityratings = sumQualityratings + rating.quality %}
                    {% endfor %}
                    {% set avgQualityRatings= (sumQualityratings / buyer.reviews|length) | round %}

                    {% set sumValueratings = 0 %}
                    {% set avgValueRatings=0 %}
                    {% for rating in buyer.reviews %}
                        {% set sumValueratings = sumValueratings + rating.value %}
                    {% endfor %}
                    {% set avgValueRatings= (sumValueratings / buyer.reviews|length) | round %}

                    {% set sumPriceratings = 0 %}
                    {% set avgPriceRatings=0 %}
                    {% for rating in buyer.reviews %}
                        {% set sumPriceratings = sumPriceratings + rating.price %}
                    {% endfor %}
                    {% set avgPriceRatings= (sumQualityratings / buyer.reviews|length) | round %}

                    {% set avgrating=0 %}
                    {% set avgrating = (avgQualityRatings+avgValueRatings+avgPriceRatings)/3 %}

                    {{ avgrating | rating(5, "fa-lg")   }}
                {% else %}
                    {{ 0 | rating(5, "fa-lg")   }}
                {% endif %}

                <div class="product-add-form">
                    {% if buyerExists %}
                    {% else %}
                        <div class="box-tocart">
                            <div class="fieldset">

                                <div class="actions">
                                    <a href="#"  class="action request js-request-user"
                                       data-url="{{ path('request-buyer-grower',{
                                           'id': buyer.id
                                       }) }}"
                                       title="Request Buyer"><span id="add-t-cart" class="fa fa-plus-circle"></span>  Add Buyer</a>        </div>
                            </div>
                        </div>
                    {% endif %}
                </div>


                <div class="product attribute overview">
                    <div class="value" itemprop="description">

                        <table>
                            <tr>
                                <td><strong>Name:</strong> {{ buyer.companyName }}</td>
                                <td><strong>Country:</strong> {{ buyer.country }}</td>
                            </tr>

                            <tr>
                                <td colspan="2"><strong>About Buyer:</strong> <br/>{{ buyer.aboutCompany }}</td>
                            </tr>
                            <tr>
                                <td><strong>Number of Employees: {{ buyer.numberOfEmployees }}</td>
                            </tr>
                            <tr>
                                <td><strong>Phone Number:</strong> {{ buyer.telephoneNumber }}</td>
                                <td><strong>Website:</strong> {{ buyer.website }}</td>
                            </tr>
                            <tr>
                                <td><strong>Email:</strong> {{ buyer.email }}</td>
                                <td><strong>Social Media:</strong> <br/>
                                    Facebook: <a href="{{ buyer.facebookPage }}">{{ buyer.facebookPage }}</a><br/>
                                    Twitter: <a href="{{ buyer.twitterPage }}">{{ buyer.twitterPage }}</a><br/>
                                    Instagram: <a href="{{ buyer.instagramPage }}">{{ buyer.instagramPage }}</a>
                                </td>
                            </tr>
                        </table>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="product media">
                <div class="gallery-placeholder" data-gallery-role="gallery-placeholder">
                    {% if buyer.gallery %}
                        <img aria-hidden="false" width="300" height="329" class="fotorama__img"
                             src="{{ asset('images/products/') }}{{ buyer.gallery.logo.imageName }}">

                        <table class="gallery cf">
                            <tr>
                                {% if buyer.gallery.image1 %}
                                    <td><img class="nim" width="150"
                                             src="{{ asset('images/products/') }}{{ buyer.gallery.image1.imageName }}"></td>
                                {% endif %}
                                {% if buyer.gallery.image2 %}
                                    <td><img class="nim"  width="150"
                                             src="{{ asset('images/products/') }}{{ buyer.gallery.image2.imageName }}"></td>
                                {% endif %}
                                {% if buyer.gallery.image2 %}
                                    <td><img class="nim"  width="150"
                                             src="{{ asset('images/products/') }}{{ buyer.gallery.image3.imageName }}"></td>
                                {% endif %}
                                {% if buyer.gallery.image2 %}
                                    <td><img class="nim"  width="150"
                                             src="{{ asset('images/products/') }}{{ buyer.gallery.image4.imageName }}"></td>
                                {% endif %}
                                {% if buyer.gallery.image2 %}
                                    <td><img class="nim"  width="150"
                                             src="{{ asset('images/products/') }}{{ buyer.gallery.image5.imageName }}"></td>
                                {% endif %}
                            </tr>
                        </table>
                    {% else %}
                        <img aria-hidden="false" width="300" height="329" class="fotorama__img"
                             src="{{ asset('images/avatar.jpg') }}">

                    {% endif %}
                </div>
            </div>

        </div>

        <div class="product info detailed">
            <ul class="nav nav-tabs">

                <li class="active"><a data-toggle="tab" href="#reviews"><b>Reviews</b></a></li>
                <li><a data-toggle="tab" href="#comments"><b>Comments</b></a></li>
            </ul>
            <div class="tab-content">
                <div id="reviews" class="tab-pane fade in active"><br/>
                    <div id="product-review-container" data-role="product-review"><div class="block review-list" id="customer-reviews">
                            <div class="block-title">
                                <strong>Customer Reviews</strong>
                            </div>
                            <div class="block-content">
                                <ol class="items review-items">
                                    {% for review in buyer.reviews %}
                                        <li class="item review-item">
                                            <div class="review-title" itemprop="name">{{ review.summary }}</div>
                                            <div class="review-ratings">
                                                <div class="rating-summary item" itemprop="reviewRating" itemscope="">
                                                    <span class="rating-label"><b>Pays on Time</b></span>
                                                    {{ review.quality | rating(5, "fa-lg") }}
                                                </div>
                                                <div class="rating-summary item">
                                                    <span class="rating-label"><b>Easy to work with</b></span>
                                                    {{ review.price | rating(5, "fa-lg") }}
                                                </div>
                                                <div class="rating-summary item" itemprop="reviewRating" itemscope="">
                                                    <span class="rating-label"><b>Accessible</b></span>
                                                    {{ review.value | rating(5, "fa-lg") }}
                                                </div>
                                            </div>
                                            <div class="review-details">
                                                <p class="review-author">
                                                    <span class="review-details-value">{{ review.review }}</span>
                                                </p><br/>
                                                <p class="review-author">
                                                    <span class="review-details-label">Review by</span>
                                                    <strong class="review-details-value" itemprop="author">{{ review.ratedBy.myCompany }}</strong>
                                                </p>
                                                <p class="review-date">
                                                    <span class="review-details-label">Reviewed on</span>
                                                    <time class="review-details-value" itemprop="datePublished" datetime="{{ review.createdAt | date }}">{{ review.createdAt | date }}</time>
                                                </p>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li>No Reviews Found<br/><br/></li>
                                    {%  endfor %}
                                </ol>

                            </div>

                        </div>
                    </div>

                    {{ render(controller('AppBundle:Rating/Rating:userRating',{'companyId':buyer.id })) }}
                </div>
                <div id="comments" class="tab-pane fade"><br/>
                    <div id="product-review-container" data-role="product-review">
                        <div class="block review-list" id="customer-reviews">
                            <div class="block-title">
                                <strong>Comments</strong>
                            </div>
                            <div class="block-content">
                                <ol class="items review-items">
                                    {% for comment in buyer.comments %}
                                        <li class="item review-item">

                                            <div class="review-details">
                                                <p class="review-author">
                                                    <span class="review-details-value">{{ comment.commentText }}</span>
                                                </p><br/>
                                                <p class="review-author">

                                                    <strong class="review-details-value" itemprop="author">{{ comment.author.myCompany }}</strong>
                                                </p>
                                                <p class="review-date">

                                                    <time class="review-details-value" itemprop="datePublished" datetime="{{ comment.createdAt | date }}">{{ comment.createdAt | date }}</time>
                                                </p>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li>No Comments Found<br/><br/></li>
                                    {%  endfor %}
                                </ol>

                            </div>

                        </div>
                    </div>
                    <br/>
                    {{ render(controller('AppBundle:Comment/Comment:userComment',{'companyId':buyer.id })) }}
                </div>
            </div>

        </div>
    </div>

</main>

{% endblock %}