{% extends 'badmin.htm.twig' %}
{% block title %}Activate Subscription - - {{ company.companyName }}{% endblock %}
{% block body %}
    <div class="row">
    <div class="col-md-12">
    <div class="box">
    <div class="box-title">
        <h3><i class="fa fa-bars"></i> Activate Subscription - {{ company.companyName }}</h3>
        <div class="box-tool">
            <a href="#" data-action="collapse"><i class="fa fa-chevron-up"></i></a>

        </div>
    </div>
    <div class="box-content">
    {{ form_start(activationForm) }}
    {{ form_row(activationForm.subscribedAt) }}
        <div class="clearfix"></div>

        <div class="form-group">
            <div class="col-sm-12 col-md-12 controls">
                <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Activate</button>
            </div>
        </div>
        <div class="clearfix"></div>
    {{ form_end(activationForm) }}
    </div>
    </div>
    </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#parent').change(function(){
                var val = jQuery(this).val();
                if(val==0)
                {
                    jQuery('.icon-class-holder').show();
                }
                else
                {
                    jQuery('.icon-class-holder').hide();
                }

            }).change();
        });

{% endblock %}