{% extends 'badmin.htm.twig' %}
{% block title %}Dashboard{% endblock %}
{% block body %}

    <style>
        .marker-label,
        .marker-icon {
            z-index: 99;
            position: absolute;
            display: block;
            margin-top: -37px;
            margin-left: -14px;
            width: 30px;
            height: 30px;
            font-size: 24px !important;
            text-align: center;
            color: #FFFFFF;
            white-space: nowrap;
        }
    </style>


    <div class="page-title">

        <div>

            <h1><i class="fa fa-dashboard"></i> Dashboard
                <div class="version">iFlora - version : 2.1.0</div>
            </h1>

        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="tile tile-green">
                <div class="img">
                    <i class="fa fa-users"></i>
                </div>
                <div class="content">
                    <p class="big">{{ nrOrders }}</p>
                    <p class="title">Direct Market Orders</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="tile tile-magenta">
                <div class="img">
                    <i class="fa fa-users"></i>
                </div>
                <div class="content">
                    <p class="big">{{ nrAuctionOrders }}</p>
                    <p class="title">Auction Market Orders</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="tile tile-light-blue">
                <div class="img">
                    <i class="fa fa-users"></i>
                </div>
                <div class="content">
                    <p class="big">{{ nrDirectProducts }}</p>
                    <p class="title">Direct Market Products</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="tile tile-orange">
                <div class="img">
                    <i class="fa fa-users"></i>
                </div>
                <div class="content">
                    <p class="big">{{ nrAuctionProducts }}</p>
                    <p class="title">Auction Market Products</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
            <div class="col-md-3">
                <div class="tile tile-magenta">
                    <div class="img">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="content">
                        <p class="big">{{ nrBuyers }}</p>
                        <p class="title">Buyers Registered</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile tile-green">
                    <div class="img">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="content">
                        <p class="big">{{ nrGrowers }}</p>
                        <p class="title">Growers Registered</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile tile-orange">
                    <div class="img">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="content">
                        <p class="big">{{ nrBreeders }}</p>
                        <p class="title">Breeders Registered</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile tile-light-blue">
                    <div class="img">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="content">
                        <p class="big">{{ nrAgents }}</p>
                        <p class="title">Agents Registered</p>
                    </div>
                </div>
            </div>

    </div>
    <style type="text/css">
        .version {
            font-size: 14px;
            font-style: italic;
            margin: 10px 0 0 44px;
        }
    </style>

{% endblock %}