{% extends 'admin-base.htm.twig' %}
{% block title %}iFlora Administration{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Orders</span>
            <div class="count">{{ nrOrders }}</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{ percentChangeOrders }}% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
            <div class="count">{{ nrUsers }}</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{ percentChangeUsers }} % </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Total Buyers</span>
            <div class="count">{{ nrBuyers }}</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{ percentChangeBuyers }}% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Growers</span>
            <div class="count green">{{ nrGrowers }}</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{ percentChangeGrowers }}% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Breeders</span>
            <div class="count">{{ nrBreeders }}</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{ percentChangeBreeders }}% </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Agents</span>
            <div class="count">{{ nrAgents }}</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{ percentChangeAgents }}% </i> From last Week</span>
        </div>

    </div>
{% endblock %}
