{% extends 'admin-base.htm.twig' %}
{% block title %} Orders {% endblock %}
{% block body %}
    <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
    <div class="x_title">
        <h2>Orders <small>All System Orders</small></h2>
        <ul class="nav navbar-right panel_toolbox">


        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <p class="text-muted font-13 m-b-30">
        </p>
        <table id="datatable" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Customer</th>
                <th>Order Date</th>
                <th>Order Status</th>
                <th>Order State</th>
                <th>Order Amount</th>

            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>

                    <td>{{ order.user.firstName }}&nbsp;{{ order.user.lastName }}</td>
                    <td>{{ order.createdAt | date('d-m-Y H:i:s') }}
                    </td>
                    <td>{{ order.orderStatus }}</td>
                    <td>{{ order.orderState }}</td>
                    <td>{{ order.orderCurrency }}{{ order.orderAmount  | number_format(2, '.', ',') }}</td>


                </tr>
                {% else %}
                <tr><td colspan="6">No Orders found</td></tr>
            {% endfor %}
            </tbody>

        </table>

        </div>
    </div>
    </div>
    </div>

{% endblock %}