{% extends 'base.html.twig' %}
{% import ":Macros:form_elements.htm.twig" as formElements %}
{% block title %} Edit My Account {% endblock %}

{% block body %}

<div class="category-view">
    <div class="page-title-wrapper">
        <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">
            <span class="base" data-ui-id="page-title-wrapper">Update Account</span></h1>
    </div>
    <div class="breadcrumbs">
        <ul class="items">
            <li class="item home">
                <a href="{{ path('homepage') }}" title="Go to Home Page">
                    Home </a>
            </li>
            <li class="item home">
                <a href="{{ path('my-grower-profile') }}" title="Go to Home Page">
                    Account </a>
            </li>
            <li class="item category121">
                <strong>Add Billing Address</strong>
            </li>
        </ul>
    </div>
</div>
<main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

    <div class="page-title-wrapper">
        <h1 class="page-title">
            <span class="base" data-ui-id="page-title-wrapper">Add Billing Address</span></h1>
    </div>
    <div class="page messages">
        <div data-placeholder="messages"></div>
        <div data-bind="scope: 'messages'">
            <div data-bind="foreach: { data: cookieMessages, as: 'message' }" class="messages"></div>
            <div data-bind="foreach: { data: messages().messages, as: 'message' }" class="messages"></div>
        </div>

    </div>
    <div class="columns">
        <div class="column main">
            {{ form_start(form) }}

            <fieldset class="fieldset create info">
                <legend class="legend"><span>Basic Information</span></legend>
                <br>

                <div class="field field-name-firstname required">
                    {{ form_row(form.streetAddress) }}
                </div>
                <div class="field field-name-lastname required">
                    {{ form_row(form.town) }}
                </div>
                <div class="field field-name-lastname required">
                    {{ form_row(form.zip) }}
                </div>
                <div class="field field-name-lastname required">
                    {{ form_row(form.country) }}
                </div>
            </fieldset>
            <fieldset class="fieldset create account" data-hasrequired="* Required Fields">
                <legend class="legend"><span>Contact Information</span></legend>
                <br>

                <div class="field required">
                    {{ form_row(form.emailAddress) }}
                </div>
                <div class="field required">
                    {{ form_row(form.phoneNumber) }}
                </div>
            </fieldset>
            <div class="actions-toolbar">
                <div class="secondary">
                    <button type="submit" class="action submit primary" title="Update Account"><span>Add Address</span>
                    </button>
                </div>
                <div class="primary">
                    <a class="action submit back primary" href="{{ path('my-grower-profile') }}"><span>Cancel</span></a>
                </div>
            </div>
            {{ form_end(form) }}
            <script>
                require([
                    'jquery',
                    'mage/mage'
                ], function ($) {

                    var dataForm = $('#form-validate');
                    var ignore = null;

                    dataForm.mage('validation', {
                        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
                    }).find('input:text').attr('autocomplete', 'off');

                });
            </script>

        </div>
    </div>
</main>

{% endblock %}