{% extends 'adminBase.htm.twig' %}
{% block title %}Pending Company Accounts{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('.js-accept-user').on('click',function (e) {
                e.preventDefault();

                var $el = $(this).closest('.js-account-item');

                $(this).find('.fa-check')
                    .removeClass('fa-check')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');
                $.ajax({
                    url: $(this).data('url'),
                    method: 'GET'
                }).done(function () {
                    $el.fadeOut("slow");
                });
            })
            $('.js-reject-account').on('click',function (e) {
                e.preventDefault();

                var $el = $(this).closest('.js-account-item');

                $(this).find('.fa-check')
                    .removeClass('fa-check')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');
                $.ajax({
                    url: $(this).data('url'),
                    method: 'GET'
                }).done(function () {
                    $el.fadeOut("slow");
                });
            })
        });
    </script>
{% endblock %}
{% block body %}
    <div id="content" class="app-content box-shadow-z0" role="main">


        <div ui-view class="app-body" id="view">
           {{ include(':admin/partials:top.htm.twig') }}
            <div class="padding">
                <div class="page messages">
                    <div class="messages" style="">
                        <div class="alert alert-success">
                            <div>
                                Account Approved successfully.
                            </div>
                        </div>

                    </div>
                </div>
                <div class="page errors">
                    <div class="errors" style="">
                        <div class="alert alert-danger">
                            <div>
                               :-( Something went wrong.
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box">
                    <div class="box-header">
                        <h2>Pending Accounts</h2>
                    </div>
                    <div class="table-responsive">
                        <table id="data" class="table table-striped b-t b-b">
                            <thead>
                            <tr>
                                <th  style="width:20%">Company Name</th>
                                <th  style="width:20%">Company Code</th>
                                <th  style="width:20%">Company Type</th>
                                <th  style="width:15%">Email</th>
                                <th  style="width:20%">Account Status</th>
                                <th  style="width:20%">Membership Status</th>
                                <th  style="width:25%">Registered On</th>
                                <th  style="width:25%">Manage</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for company in companies  %}
                                <tr class="js-company-item">
                                    <td><a style="color:#0cc2aa" href="#">{{ company.companyName }}</a></td>
                                    <td>{{ company.companyCode }}</td>
                                    <td>{{ company.companyType }}</td>
                                    <td>{{ company.email }}</td>
                                    <td>
                                        {% if company.isActive %}
                                            <div style="padding: 8px;text-align: center;" class="alert alert-success">
                                                Active
                                            </div>
                                        {% else %}
                                            <div style="padding: 8px;text-align: center;" class="alert alert-danger">
                                                inactive
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>{{ company.isPaid }}</td>
                                    <td>{{ company.createdAt | date("F jS Y \\a\\t g:ia") }}</td>
                                    <td>
                                        <a href="#" data-url="{{ path('approve-company-account',{'id': company.id }) }}"
                                           class="js-accept-user btn btn-xs white btn-icon"><i id="remind" title="Approve Account" class="fa fa-check"></i></a>

                                        <a href="#" data-url="{{ path('reject-company-account',{'id': company.id }) }}"
                                           class="js-reject-account btn btn-xs white btn-icon"><i id="reject" title="Reject Account" class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            {% endfor  %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- ############ PAGE END-->

        </div>
    </div>
{% endblock %}