{% extends 'base.html.twig' %}
{% block title %} Order Details{% endblock %}
{% block body %}
    <div class="breadcrumbs">
        <ul class="items">
            <li class="item home">
                <a href="{{ path('grower_dashboard') }}" title="Go to Home Page">
                    Home </a>
            </li>
            <li class="item home">
                <a href="{{ path('my_grower_order_list') }}" title="Go to Home Page">
                    My Orders </a>
            </li>
            <li class="item product">
                <strong>Order Details</strong>
            </li>
        </ul>
    </div>
    <section class="section-shopping-cart-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Below are the Items in your Order.</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-9">
                    <div class="items-holder">

                        {% for orderItem in orderItems %}
                        <div class="cart-item row">
                            <div class="col-sm-2 col-lg-2">
                                <div class="image">
                                    <img width="120" height="120" alt="" src="{{ asset('images/products/') }}{{ orderItem.product.product.mainImage }}">
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-2">
                                <div class="brand">
                                </div>
                                <div class="title">
                                    <a href="{{ path('seedling_details',{
                                        'id': orderItem.product.id
                                    }) }}">{{ orderItem.product.product.title }}</a>
                                </div>
                            </div>
                            <div class="col-sm-8 col-lg-7 details no-edit">
                                <div class="unit-price">
                                    <span class="visible-s">@</span>
                                    {{ app.user.myCompany.currency }} {{ orderItem.unitPrice | convertCurrency(order.orderCurrency,app.user.myCompany.currency) }}
                                </div>
                                <div class="quantity">
                                    <span class="visible-s">Qty :</span>
                                    {{ orderItem.quantity }}
                                </div>
                                <div class="total-price">
                                    <span class="visible-s">Total: </span>
                                    {{ app.user.myCompany.currency }} {{ orderItem.lineTotal | convertCurrency(order.orderCurrency,app.user.myCompany.currency) }}
                                </div>
                            </div>
                        </div>
                         {% endfor %}
                    </div>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="right-sidebar">
                        <p><strong>Order number: </strong> {{ order.prettyId }} </p>
                        <p><strong>Payment method: </strong> {{ order.processingFee }}</p>
                        <p><strong>Payment status: </strong> {{ order.paymentStatus }}</p>
                        <p><strong>Order Date: </strong> {{ order.createdAt | date('d-m-Y H:i:s')  }}</p>
                        <p><strong>Subtotal:</strong> <i>{{ app.user.myCompany.currency }} {{ order.orderAmount | convertCurrency(order.orderCurrency,app.user.myCompany.currency) }}</i></p>
                        <p><strong>Shipping:</strong> <i>{{ app.user.myCompany.currency }} {{ order.shippingCost | convertCurrency(order.orderCurrency,app.user.myCompany.currency) }}</i></p>
                        <p class="subtotal"><strong>Total:</strong>  <i>{{ app.user.myCompany.currency }} {{ order.orderTotal | convertCurrency(order.orderCurrency,app.user.myCompany.currency) }}</i></p>
                        <div class="right">
                            <a class="action primary" href="{{ path('my_grower_order_list') }}">Back to Orders</a><br/><br/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="clearfix"></div>
{% endblock %}