{% extends 'base.html.twig' %}
{% block title %} Login / Register {% endblock %}
{% block body %}

    <main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

        <div class="page-title-wrapper">
            <h1 class="page-title">
                <span class="base" data-ui-id="page-title-wrapper">Administrator Login</span></h1>
        </div>
        <div class="page message">
            <div data-placeholder="messages">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
            </div>

        </div>
        <div class="columns">
            <div class="column main">
                <div class="login-container">
                    <div class="block block-customer-login">
                        <div class="block-title">
                            <strong id="block-customer-login-heading" role="heading" aria-level="2">Administrators</strong>
                        </div>
                        <div class="block-content" aria-labelledby="block-customer-login-heading">
                            {{ form_start(buyerform) }}
                            <fieldset class="fieldset login" data-hasrequired="* Required Fields">
                                <div class="field note">If you have an account, sign in with your email address.</div>
                                <div class="field email required">

                                    {{ form_row(buyerform._username) }}
                                </div>
                                <div class="field password required">
                                    {{ form_row(buyerform._password) }}

                                </div>
                                <input type="hidden" name="_target_path" value="admin_dashboard"/>
                                <input type="hidden" name="_failure_path" value="admin_login"/>

                                <div class="actions-toolbar">
                                    <div class="primary">
                                        <button type="submit" class="action login primary" formnovalidate>
                                            <span>Sign In</span></button>
                                    </div>
                                    <div class="secondary"><a class="action remind"
                                                              href="{{ path('forgot-password') }}"><span>Forgot Your Password?</span></a></div>
                                </div>
                            </fieldset>
                            {{ form_end(buyerform) }}
                        </div>
                    </div>
                    <div class="block block-new-customer">
                        <div class="block-title">
                            <strong id="block-new-customer-heading" role="heading" aria-level="2">New Administrator</strong>
                        </div>
                        <div class="block-content" aria-labelledby="block-new-customer-heading">
                            <p>Aministrator Accounts provide Priviledged access to the system. These accounts are created by the System Administrator.</p>

                            <div class="actions-toolbar">
                                <div class="primary">
                                    <a href="{{ path('user_register') }}" class="action create primary"><span>Request an Account</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}