{{ form_start(form) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword.first,{
                        'label': 'Password'
                    }) }}
                    {{ form_row(form.plainPassword.second, {
                        'label': 'Repeat Password'
                    }) }}

<button type="submit" class="md-button narrow" formnovalidate>Register</button>
{{ form_end(form) }}