{% extends 'base.html.twig' %}
{% block title %} Login / Register {% endblock %}
{% block body %}

    <main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

        <div class="page-title-wrapper">
            <h1 class="page-title">
                <span class="base" data-ui-id="page-title-wrapper">Buyer Login</span></h1>
        </div>
        <div class="page message">
            <div data-placeholder="message">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
            </div>

        </div>
        <div class="columns">
            <div class="column main">
                <div class="login-container">
                    <div class="block block-customer-login">
                        <div class="block-title">
                            <strong id="block-customer-login-heading" role="heading" aria-level="2">Registered
                                Buyers</strong>
                        </div>
                        <div class="block-content" aria-labelledby="block-customer-login-heading">
                            {{ form_start(loginform) }}
                            <fieldset class="fieldset login" data-hasrequired="* Required Fields">
                                <div class="field note">If you have an account, sign in with your email address.</div>
                                <div class="field email required">

                                    {{ form_row(loginform._username) }}
                                </div>
                                <div class="field password required">
                                    {{ form_row(loginform._password) }}

                                </div>
                                <input type="hidden" name="_target_path" value="home"/>
                                <input type="hidden" name="_failure_path" value="user_login"/>

                                <div class="actions-toolbar">
                                    <div class="primary">
                                        <button type="submit" class="action login primary" formnovalidate>
                                            <span>Sign In</span></button>
                                    </div>
                                    <div class="secondary"><a class="action remind"
                                                              href="{{ path('forgot-password') }}"><span>Forgot Your Password?</span></a></div>
                                </div>
                            </fieldset>
                            {{ form_end(loginform) }}
                        </div>
                    </div>
                    <div class="block block-new-customer">
                        <div class="block-title">
                            <strong id="block-new-customer-heading" role="heading" aria-level="2">New Buyers</strong>
                        </div>
                        <div class="block-content" aria-labelledby="block-new-customer-heading">
                            <p>Are you a Buyer? Create an Iflora Company account and get the many benefits: check out faster, track orders and more.</p>

                            <div class="actions-toolbar">
                                <div class="primary">
                                    <a href="{{ path('register-buyer') }}" class="action create primary"><span>Create an Account</span></a>
                                </div>
                            </div><br/><br/>
                            <div class="block-title">
                                <strong id="block-new-customer-heading" role="heading" aria-level="2">New User Account</strong>
                            </div>
                            <p>If your company has an Account, Click below to request for a User Account.</p>

                            <div class="actions-toolbar">
                                <div class="primary">
                                    <a href="{{ path('register-user') }}" class="action create primary"><span>Request an Account</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}