{% extends 'base.html.twig' %}
{% import ":Macros:form_elements.htm.twig" as formElements %}
{% block title %} Login / Register {% endblock %}
{% block javascripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block body %}
    <style>
        .g-recaptcha{
            margin-left: 27%;
        }
    </style>
    <div class="category-view">
        <div class="page-title-wrapper">
            <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">
                <span class="base" data-ui-id="page-title-wrapper">User Registration</span></h1>
        </div>
        <div class="breadcrumbs">
            <ul class="items">
                <li class="item home">
                    <a href="{{ path('homepage') }}" title="Go to Home Page">
                        Home </a>
                </li>
                <li class="item home">
                    <a href="#" title="Go to Home Page">
                        Company </a>
                </li>
                <li class="item category121">
                    <strong>Request User Account</strong>
                </li>
            </ul>
        </div>
    </div>
    <main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

        <div class="page-title-wrapper">
            <h1 class="page-title">
                <span class="base" data-ui-id="page-title-wrapper">New User Account Request</span></h1>
        </div>
        <div class="page messages">
            <div data-placeholder="messages"></div>
            <div data-bind="scope: 'messages'">
                <div data-bind="foreach: { data: cookieMessages, as: 'message' }" class="messages"></div>
                <div data-bind="foreach: { data: messages().messages, as: 'message' }" class="messages"></div>
            </div>

        </div>
        <div class="columns">
            <div class="column main">
                {{ form_start(form) }}
                <fieldset class="fieldset create info">
                    <legend class="legend"><span>Company Information</span></legend>
                    <br>

                    <div class="field field-name-firstname required">
                        {{ form_row(form.myCompany) }}
                    </div>


                </fieldset>
                <fieldset class="fieldset create info">
                    <legend class="legend"><span>Personal Information</span></legend>
                    <br>

                    <div class="field field-name-firstname required">
                        {{ form_row(form.firstName) }}
                    </div>
                    <div class="field field-name-lastname required">
                        {{ form_row(form.lastName) }}
                    </div>

                </fieldset>
                <fieldset class="fieldset create account" data-hasrequired="* Required Fields">
                    <legend class="legend"><span>Sign-in Information</span></legend>
                    <br>

                    <div class="field required">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="field password required">
                        {{ form_row(form.plainPassword.first,{
                            'label': 'Password'
                        }) }}
                    </div>
                    <div class="field confirmation required">
                        {{ form_row(form.plainPassword.second, {
                            'label': 'Confirm Password'
                        }) }}
                    </div>
                    {% if error %}
                        <div class="page message">
                            <div data-placeholder="messages">
                                <div class="alert alert-danger">
                                    {{ errorMessage }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="field confirmation required">
                        <div class="form-group">
                            <label class="control-label required">Verification</label>
                            {{formElements.recaptcha("6LdU2CkUAAAAAM5ZcstsLYNYe6qkU1HExIR2q6fb")}}
                        </div>
                    </div>
                </fieldset>
                <div class="actions-toolbar">
                    <div class="secondary">
                        <button type="submit" class="action submit primary" title="Create an Account"><span>Request Account</span>
                        </button>
                    </div>
                    <div class="primary">
                        <a class="action submit back primary" href="{{ path('security_login') }}"><span>Cancel</span></a>
                    </div>
                </div>
                {{ form_end(form) }}
                <script>
                    require([
                        'jquery',
                        'mage/mage'
                    ], function ($) {

                        var dataForm = $('#form-validate');
                        var ignore = null;

                        dataForm.mage('validation', {
                            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
                        }).find('input:text').attr('autocomplete', 'off');

                    });
                </script>

            </div>
        </div>
    </main>

{% endblock %}