{% extends 'base.html.twig' %}
{% block title %}Reset Password{% endblock %}
{% block pageTitle %}<h2>Reset Password</h2>{% endblock %}


{% block body %}

    <div class="category-view">
        <div class="page-title-wrapper">
            <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">
                <span class="base" data-ui-id="page-title-wrapper">Update Account Password</span></h1>
        </div>
        <div class="breadcrumbs">
            <ul class="items">
                <li class="item home">
                    <a href="{{ path('homepage') }}" title="Go to Home Page">
                        Home </a>
                </li>

                <li class="item home">
                    <a href="#" title="">
                        Security </a>
                </li>
                <li class="item category131">
                    <strong>Change Password</strong>
                </li>
            </ul>
        </div>
    </div>
    <main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

    <div class="page messages">
        <div data-placeholder="messages"></div>
        <div data-bind="scope: 'messages'">
            <div data-bind="foreach: { data: cookieMessages, as: 'message' }" class="messages"></div>
            <div data-bind="foreach: { data: messages().messages, as: 'message' }" class="messages"></div>
        </div>
    </div>
    <div class="columns" style="height: 400px">
    <h6  class="sppb-addon-title" style="font-size:14px;line-height:14px;">Change Account Password</h6>
                                    {% if isTokenValid==false %}
                                        <div class="sppb-addon-content"> <p>Hello {{ user.firstName }},
                                                <br/>This password reset link has expired.
                                            </p>
                                            <p>If you had already reset your password, You can now <a style="color:#fd9614" href="{{ path('login') }}">Click here</a> to login to your Prisk Online Portal Account.</p>

                                        </div>
                                    {% else %}
                                        <div class="sppb-addon-content"> <p>Hello {{ user.firstName }},
                                                <br/>This process will change your account password.
                                            </p>
                                            <p>Fill in the form below to create a new one and we will update your account with these login details.</p>
                                            {{ form_start(passwordResetForm) }}
                                            <div class="md-form-group float-label">
                                                <strong>{{ form_row(passwordResetForm.plainPassword.first, { 'label': 'New Password','attr': {'class': 'md-input'} }) }}</strong>

                                            </div><br/><br/>
                                            <div class="md-form-group float-label">
                                                <strong>{{ form_row(passwordResetForm.plainPassword.second, { 'label': 'Repeat Password','attr': {'class': 'md-input'} }) }}</strong>

                                            </div><br/>
                                            <div class="md-form-group float-label">
                                                <button type="submit" class="btn primary">Update Account</button>
                                            </div>

                                            {{ form_end(passwordResetForm) }}

                                        </div>
                                    {% endif %}
    </div>
    </main>
{% endblock body %}