{% extends 'base.html.twig' %}
{% block title %}{{ product.whichAuction.product.title }}{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        // prepare the form when the DOM is ready
        $(document).ready(function() {

            // bind to the form's submit event
            $('#addToCart').submit(function(e) {
                var ajaxRequest;
                //Prevent Normal Submit
                e.preventDefault();

                $(".messages").fadeOut("slow");

                $(this).find('.fa-shopping-cart')
                    .removeClass('fa-shopping-cart')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                $(this).find('.fa-check')
                    .removeClass('fa-check')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');


                // get form values
                var values = $(this).serialize();


                $.ajax({
                    url: $(this).data('url'),
                    data: values,
                    method: 'POST'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $(".messages").fadeIn("slow");

                    $("#add-t-cart")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    location.reload();
                }).fail(function(){
                    $(".errors").fadeIn("slow");

                    $("#add-t-cart")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-times');
                })


            });

            // bind to the form's submit event
            $('#newsletter-validate-detail1').submit(function(f) {
                var ajaxRequest;
                //Prevent Normal Submit
                f.preventDefault();

                $(".messages").fadeOut("slow");

                $(this).find('.fa-send')
                    .removeClass('fa-send')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                var form = document.getElementById("newsletter-validate-detail1");
                var elements = form.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                // get form values
                var messageValues = $(this).serialize();

                $.ajax({
                    url: $(this).attr("action"),
                    data: messageValues,
                    method: 'POST'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $(".control").fadeOut("slow");

                    $(".sent").fadeIn("slow");

                    $("#send")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                })

            });

            // bind to the form's submit event
            $('#rating-form').submit(function(f) {
                var ajaxRequest;
                //Prevent Normal Submit
                f.preventDefault();

                $(".messages").fadeOut("slow");

                $(this).find('.fa-telegram')
                    .removeClass('fa-telegram')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                var form = document.getElementById("rating-form");
                var elements = form.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                // get form values
                var ratingValues = $(this).serialize();

                $.ajax({
                    url: $(this).attr("action"),
                    data: ratingValues,
                    method: 'POST'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $(".control").fadeOut("slow");


                    $("#rate")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    location.reload();
                })

            });

            $('.tocompare').on('click',function (e) {
                e.preventDefault();

                $(this).find('#compare')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');
                $.ajax({
                    url: $(this).data('url'),
                    method: 'GET'
                }).done(function () {
                    $("#compare")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    $(".result").fadeIn("slow");
                }).fail(function () {
                    $("#compare")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-times');
                    $(".error").fadeIn("slow");
                });
            });

            // bind to the form's submit event
            $('#comment-form').submit(function(f) {
                var ajaxRequest;
                //Prevent Normal Submit
                f.preventDefault();

                $(".messages").fadeOut("slow");

                $(this).find('.fa-telegram')
                    .removeClass('fa-telegram')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                var form = document.getElementById("comment-form");
                var elements = form.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                // get form values
                var commentValues = $(this).serialize();

                $.ajax({
                    url: $(this).attr("action"),
                    data: commentValues,
                    method: 'POST'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $(".control").fadeOut("slow");


                    $("#comment")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    location.reload();
                }).fail(function () {
                    $(".failure").fadeIn("slow");

                    $("#comment")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-times');
                });

            });

        });


    </script>
{% endblock %}
{% block pageclass %}
<body data-container="body" itemtype="http://schema.org/Product" itemscope="itemscope"
      class="catalog-product-view product-orion-two-tone-fitted page-layout-1column" aria-busy="false">
{% endblock %}
{% block body %}
<div class="breadcrumbs">
    <ul class="items">
        <li class="item home">
            <a href="{{ path('home') }}" title="Go to Home Page">
                Home </a>
        </li>
        <li class="item home">
            <a href="{{ path('buyer_auction') }}" title="Go to Home Page">
                Auction Market </a>
        </li>
        <li class="item product">
            <strong>{{ product.whichAuction.product.title }}</strong>
        </li>
    </ul>
</div>
<main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

    <div class="page messages">
        <div data-placeholder="messages">
        </div>
        <div data-bind="scope: 'messages'">
            <div class="messages" data-bind="foreach: { data: cookieMessages, as: 'message' }">
            </div>
            <div class="messages" data-bind="foreach: { data: messages().messages, as: 'message' }">
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column main">
            <div class="product-info-main">
                <div class="page-title-wrapper product">
                    <h1 class="page-title">
				<span class="base" data-ui-id="page-title-wrapper" itemprop="name">
				{{ product.whichAuction.product.title }}</span></h1>
                </div>
                <div class="">
                    <div class="rating-summary">

                        {% if product.reviews | length > 0 %}

                            {% set sumQualityratings = 0 %}
                            {% set avgQualityRatings=0 %}
                            {% for rating in product.reviews %}
                                {% set sumQualityratings = sumQualityratings + rating.quality %}
                            {% endfor %}
                            {% set avgQualityRatings= (sumQualityratings / product.reviews|length) | round %}

                            {% set sumValueratings = 0 %}
                            {% set avgValueRatings=0 %}
                            {% for rating in product.reviews %}
                                {% set sumValueratings = sumValueratings + rating.value %}
                            {% endfor %}
                            {% set avgValueRatings= (sumValueratings / product.reviews|length) | round %}

                            {% set sumPriceratings = 0 %}
                            {% set avgPriceRatings=0 %}
                            {% for rating in product.reviews %}
                                {% set sumPriceratings = sumPriceratings + rating.price %}
                            {% endfor %}
                            {% set avgPriceRatings= (sumQualityratings / product.reviews|length) | round %}

                            {% set avgrating=0 %}
                            {% set avgrating = (avgQualityRatings+avgValueRatings+avgPriceRatings)/3 %}

                            {{ avgrating | rating(5, "fa-lg")   }}
                        {% else %}
                            {{ 0 | rating(5, "fa-lg")   }}
                        {% endif %}

                    </div>

                </div>
                <div class="product-info-price">
                    <div class="price-box price-final_price" data-product-id="63" data-role="priceBox">
					<span class="price-container price-final_price tax weee">
					<span class="price-wrapper " data-price-amount="72" data-price-type="finalPrice">
					<span class="price">{{ product.whichAuction.currency }} {{ product.pricePerStem }}</span></span>

					</span></div>
                    <div class="price-box price-final_price" data-role="priceBox" data-product-id="63">
                                            <span class="price-container price-final_price tax weee">
                                                    <span
                                                            data-price-type="finalPrice" class="price-wrapper ">
                                                    <span class="price"
                                                          style="color: #666;font-size: 1.5rem"></span>    </span>
                                             </span>

                    </div>
                    <div class="product-info-stock-sku">
                        <table class="attributes">
                            <tr>
                                <td><strong>Available Stems:</strong> {{ product.availableStock | number_format }} </td>

                            </tr>
                            <tr>
                                <td><strong>Quality:</strong> {{ product.whichAuction.quality }} </td>
                            </tr>

                        </table>

                    </div>

                    <div class="product-info-stock-sku">
                        <div class="stock available" title="Availability">
                            <span>Grower:<br/> <a style="color: #d61818"
                                                  href="{{ path('agent_grower_profile',{'id': product.whichAuction.product.vendor.id}) }}">{{ product.whichAuction.product.vendor }}</a></span>
                        </div>

                    </div>

                </div>

                <div class="product attribute overview">
                    <div class="value" itemprop="description">

                    </div>
                </div>

                <div class="product-add-form">


                    <div class="box-tocart">
                        <div class="fieldset">
                            {{ form_start(form,{'attr': {'id': 'addToCart'}}) }}
                            <input type="hidden" name="productCurrency" value="{{ product.whichAuction.currency }}"/>
                            <input type="hidden" name="productPrice" value="{{ product.pricePerStem }}"/>
                            <input type="hidden" name="productId" value="{{ product.id }}"/>
                            <div class="box-tocart">
                                <div class="fieldset">
                                    <div class="field qty">
                                        <label class="label" for="qty"><span>Qty</span></label>

                                        <div class="control">
                                            <input id="qty" class="input-text qty" maxlength="15" name="quantity"
                                                   title="Qty" type="number" value="10">
                                        </div>
                                    </div>
                                    <div class="actions">
                                        &nbsp;<button  class="action primary"
                                                       title="Add to Cart" type="submit">
                                            <span id="add-t-cart" class="fa fa-shopping-cart"></span>&nbsp;&nbsp; <span>Buy Now</span></button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}

                        </div>
                    </div>

                </div>
            </div>
            <div class="product media">
                <div >

                    <img aria-hidden="false" width="500" height="629" class="fotorama__img"
                         src="{{ asset('images/products/') }}{{ product.whichAuction.product.mainImage }}">

                    <table class="gallery cf">
                        <tr>
                            <td><img class="nim" width="150"
                                     src="{{ asset('images/products/') }}{{ product.whichAuction.product.openHeadTop }}"></td>
                            <td><img class="nim"  width="150"
                                     src="{{ asset('images/products/') }}{{ product.whichAuction.product.openHeadSide }}"></td>
                            <td><img class="nim"  width="150"
                                     src="{{ asset('images/products/') }}{{ product.whichAuction.product.closedHeadSide }}"></td>
                            <td><img class="nim"  width="150"
                                     src="{{ asset('images/products/') }}{{ product.whichAuction.product.openHeadBouquet }}"></td>
                            <td><img class="nim"  width="150"
                                     src="{{ asset('images/products/') }}{{ product.whichAuction.product.closedHeadBouquet }}"></td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="product info detailed">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#details">Description</a></li>
                    <li><a data-toggle="tab" href="#reviews">Reviews</a></li>
                    <li><a data-toggle="tab" href="#comments">Comments</a></li>
                </ul>
                <div class="tab-content">
                    <div id="details" class="tab-pane fade in active">
                        <div class="product attribute description">
                            <div class="value">

                                {{ product.whichAuction.product.description }}
                            </div>
                        </div>
                    </div>
                    <div id="reviews" class="tab-pane fade"><br/>
                        <div id="product-review-container" data-role="product-review"><div class="block review-list" id="customer-reviews">
                                <div class="block-title">
                                    <strong>Customer Reviews</strong>
                                </div>
                                <div class="block-content">
                                    <ol class="items review-items">
                                        {% for review in product.reviews %}
                                            <li class="item review-item">
                                                <div class="review-title" itemprop="name">{{ review.summary }}</div>
                                                <div class="review-ratings">
                                                    <div class="rating-summary item" itemprop="reviewRating" itemscope="">
                                                        <span class="rating-label"><b>Quality</b></span>
                                                        {{ review.quality | rating(5, "fa-lg") }}
                                                    </div>
                                                    <div class="rating-summary item">
                                                        <span class="rating-label"><b>Price</b></span>
                                                        {{ review.price | rating(5, "fa-lg") }}
                                                    </div>
                                                    <div class="rating-summary item" itemprop="reviewRating" itemscope="">
                                                        <span class="rating-label"><b>Value</b></span>
                                                        {{ review.value | rating(5, "fa-lg") }}
                                                    </div>
                                                </div>
                                                <div class="review-details">
                                                    <p class="review-author">
                                                        <span class="review-details-value">{{ review.review }}</span>
                                                    </p><br/>
                                                    <p class="review-author">
                                                        <span class="review-details-label">Review by</span>
                                                        <strong class="review-details-value" itemprop="author">{{ review.ratedBy.myCompany }}</strong>
                                                    </p>
                                                    <p class="review-date">
                                                        <span class="review-details-label">Reviewed on</span>
                                                        <time class="review-details-value" itemprop="datePublished" datetime="{{ review.createdAt | date }}">{{ review.createdAt | date }}</time>
                                                    </p>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li>No Reviews Found<br/><br/></li>
                                        {%  endfor %}
                                    </ol>

                                </div>

                            </div>
                        </div>

                        {{ render(controller('AppBundle:Rating/Rating:auctionProductRating',{'roseId':product.id })) }}
                    </div>
                    <div id="comments" class="tab-pane fade"><br/>
                        <div id="product-review-container" data-role="product-review"><div class="block review-list" id="customer-reviews">
                                <div class="block-title">
                                    <strong>Comments</strong>
                                </div>
                                <div class="block-content">
                                    <ol class="items review-items">
                                        {% for comment in product.comments %}
                                            <li class="item review-item">

                                                <div class="review-details">
                                                    <p class="review-author">
                                                        <span class="review-details-value">{{ comment.commentText }}</span>
                                                    </p><br/>
                                                    <p class="review-author">

                                                        <strong class="review-details-value" itemprop="author">{{ comment.author.myCompany }}</strong>
                                                    </p>
                                                    <p class="review-date">

                                                        <time class="review-details-value" itemprop="datePublished" datetime="{{ comment.createdAt | date }}">{{ comment.createdAt | date }}</time>
                                                    </p>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li>No Comments Found<br/><br/></li>
                                        {%  endfor %}
                                    </ol>

                                </div>

                            </div>
                        </div>
                        <br/>
                        {{ render(controller('AppBundle:Comment/Comment:auctionProductComment',{'roseId':product.id })) }}
                    </div>
                </div>

            </div>
        </div>
</main>

{% endblock %}