{% extends 'base.html.twig' %}
{% block title %}{{ product.whichAuction.product.title }}{% endblock %}
{% block javascripts %}
    <link type="text/css" rel="stylesheet" href="{{ asset('flexslider/lightslider.css') }}" />
    <script src="{{ asset('flexslider/lightslider.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#imageGallery').lightSlider({
                gallery:true,
                item:1,
                loop:true,
                thumbItem:9,
                slideMargin:0,
                enableDrag: false,
                currentPagerPosition:'left',
                onSliderLoad: function(el) {
                    el.lightGallery({
                        selector: '#imageGallery .lslide'
                    });
                }
            });
        });

    </script>
{% endblock %}
{% block pageclass %}
<body data-container="body" itemtype="http://schema.org/Product" itemscope="itemscope"
      class="catalog-product-view product-orion-two-tone-fitted page-layout-1column" aria-busy="false">
{% endblock %}
{% block body %}
<div class="breadcrumbs">
    <ul class="items">
        <li class="item home">
            <a href="{{ path('agent_dashboard') }}" title="Go to Home Page">
                Home </a>
        </li>
        <li class="item home">
            <a href="{{ path('agent_auction_product_list') }}" title="Go to Home Page">
                Auction Market </a>
        </li>
        <li class="item product">
            <strong>{{ product.whichAuction.product }}</strong>
        </li>
    </ul>
</div>
<main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

    <div class="page messages">
        <div data-placeholder="messages">
        </div>
        <div data-bind="scope: 'messages'">
            <div class="messages" data-bind="foreach: { data: cookieMessages, as: 'message' }">
            </div>
            <div class="messages" data-bind="foreach: { data: messages().messages, as: 'message' }">
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column main">
            <div class="product-info-main">
                <div class="page-title-wrapper product">
                    <h1 class="page-title">
				<span class="base" data-ui-id="page-title-wrapper" itemprop="name">
				{{ product.whichAuction.product }}</span></h1>
                </div>
                <div class="">
                    <div class="rating-summary">

                        {% if product.reviews | length > 0 %}

                            {% set sumQualityratings = 0 %}
                            {% set avgQualityRatings=0 %}
                            {% for rating in product.reviews %}
                                {% set sumQualityratings = sumQualityratings + rating.quality %}
                            {% endfor %}
                            {% set avgQualityRatings= (sumQualityratings / product.reviews|length) | round %}

                            {% set sumValueratings = 0 %}
                            {% set avgValueRatings=0 %}
                            {% for rating in product.reviews %}
                                {% set sumValueratings = sumValueratings + rating.value %}
                            {% endfor %}
                            {% set avgValueRatings= (sumValueratings / product.reviews|length) | round %}

                            {% set sumPriceratings = 0 %}
                            {% set avgPriceRatings=0 %}
                            {% for rating in product.reviews %}
                                {% set sumPriceratings = sumPriceratings + rating.price %}
                            {% endfor %}
                            {% set avgPriceRatings= (sumQualityratings / product.reviews|length) | round %}

                            {% set avgrating=0 %}
                            {% set avgrating = (avgQualityRatings+avgValueRatings+avgPriceRatings)/3 %}

                            {{ avgrating | rating(5, "fa-lg")   }}
                        {% else %}
                            {{ 0 | rating(5, "fa-lg")   }}
                        {% endif %}

                    </div>

                </div>
                <div class="product-info-price">
                    <div class="price-box price-final_price" data-product-id="63" data-role="priceBox">
					<span class="price-container price-final_price tax weee">
					<span class="price-wrapper " data-price-amount="72" data-price-type="finalPrice">
					<span class="price"><strong>FOB</strong> {{ app.user.myCompany.currency }} {{ product.pricePerStem | convertCurrency(product.whichAuction.product.vendor.currency,app.user.myCompany.currency) }}</span></span>

					</span></div>
                    <div class="price-box price-final_price" data-role="priceBox" data-product-id="63">
                                            <span class="price-container price-final_price tax weee">
                                                    <span
                                                            data-price-type="finalPrice" class="price-wrapper ">
                                                    <span class="price"
                                                          style="color: #666;font-size: 1.5rem"></span>    </span>
                                             </span>

                    </div>
                    <div class="product-info-stock-sku">
                        <table class="attributes">
                            <tr>
                                <td><strong>Available Stems:</strong> {{ product.availableStock | number_format }} </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>Quality:</strong> {{ product.whichAuction.quality }} </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>Grower: </strong>  <a style="color: #d61818"
                                                                  href="{{ path('agent_grower_profile',{'id': product.whichAuction.product.vendor.id}) }}">{{ product.whichAuction.product.vendor }}</a></span>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>Primary Color:</strong> {{ product.whichAuction.product.primaryColor }}</td>
                                <td><strong>Secondary Color:</strong> {{ product.whichAuction.product.secondaryColor }}</td>
                            </tr>
                            <td><strong>Season:</strong> {{ product.whichAuction.product.season }}</td>
                            <td><strong>Scented:</strong>
                                {% if product.whichAuction.product.isScented %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            </tr>
                            <tr>
                                <td><strong>Vaselife: </strong>{{ product.whichAuction.product.vaselife }}</td>
                                <td><strong>Stem Length:</strong> {{ product.whichAuction.product.stemLength }}</td>
                            </tr>
                            <tr>
                                <td><strong>Headsize:</strong> {{ product.whichAuction.product.headsize }}</td>
                                <td><strong>Number of Heads: </strong> {{ product.whichAuction.product.numberOfHeads | number_format(0, '.', ',') }}</td>
                            </tr>
                        </table>

                    </div>

                    <div class="product-info-stock-sku">

                    </div>

                </div>

                <div class="product attribute overview">
                    <div class="value" itemprop="description">

                    </div>
                </div>

                <div class="product-add-form">


                    <div class="box-tocart">
                       <div class="fieldset">
                           {{ form_start(form,{'attr': {'id': 'addToCart'}}) }}
                           <input type="hidden" name="productCurrency" value="{{ app.user.myCompany.currency }}"/>
                           <input type="hidden" name="productPrice" value="{{ product.whichAuction.pricePerStem | convertCurrency(product.whichAuction.vendor.currency,app.user.myCompany.currency) }}"/>
                           <input type="hidden" name="productId" value="{{ product.id }}"/>
                           <div class="box-tocart">
                               <div class="fieldset">
                                   <div class="field qty">
                                       <label class="label" for="qty"><span>Qty</span></label>

                                       <div class="control">
                                           <input id="qty" class="input-text qty" maxlength="12" name="quantity"
                                                  title="Qty" type="number" value="{{ (product.availableStock/10) | number_format(0,',','.') }}">
                                       </div>
                                   </div>
                                   <div class="actions">
                                       &nbsp;<button  class="action primary"
                                                      title="Add to Cart" type="submit">
                                           <span id="add-t-cart" class="fa fa-shopping-cart"></span>&nbsp;&nbsp; <span>Buy Now</span></button>
                                   </div>
                               </div>
                           </div>
                           {{ form_end(form) }}
                        </div>
                    </div>

                </div>
            </div>
            <div class="product media">
                <ul id="imageGallery">

                    <li data-thumb="{{ asset('images/products/') }}{{ product.whichAuction.product.mainImage }}" data-src="{{ asset('images/products/') }}{{ product.whichAuction.product.mainImage }}">
                        <img src="{{ asset('images/products/') }}{{ product.whichAuction.product.mainImage }}">

                    </li>
                    <li data-thumb="{{ asset('images/products/') }}{{ product.whichAuction.product.openHeadTop }}" data-src="{{ asset('images/products/') }}{{ product.whichAuction.product.openHeadTop }}">
                        <img src="{{ asset('images/products/') }}{{ product.whichAuction.product.openHeadTop }}">
                    </li>
                    <li data-thumb="{{ asset('images/products/') }}{{ product.whichAuction.product.openHeadSide }}" data-src="{{ asset('images/products/') }}{{ product.whichAuction.product.openHeadSide }}">
                        <img src="{{ asset('images/products/') }}{{ product.whichAuction.product.openHeadSide }}">
                    </li>
                    <li data-thumb="{{ asset('images/products/') }}{{ product.whichAuction.product.closedHeadSide }}" data-src="{{ asset('images/products/') }}{{ product.whichAuction.product.closedHeadSide }}">
                        <img src="{{ asset('images/products/') }}{{ product.whichAuction.product.closedHeadSide }}">
                    </li>
                    <li data-thumb="{{ asset('images/products/') }}{{ product.whichAuction.product.openHeadBouquet }}" data-src="{{ asset('images/products/') }}{{ product.whichAuction.product.openHeadBouquet }}">
                        <img src="{{ asset('images/products/') }}{{ product.whichAuction.product.openHeadBouquet }}">
                    </li>
                    <li data-thumb="{{ asset('images/products/') }}{{ product.whichAuction.product.closedHeadBouquet }}" data-src="{{ asset('images/products/') }}{{ product.whichAuction.product.closedHeadBouquet }}">
                        <img src="{{ asset('images/products/') }}{{ product.whichAuction.product.closedHeadBouquet }}">
                    </li>

                </ul>
            </div>

            <div class="product info detailed">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#details">Description</a></li>
                    <li><a data-toggle="tab" href="#reviews">Reviews</a></li>
                    <li><a data-toggle="tab" href="#comments">Comments</a></li>
                </ul>
                <div class="tab-content">
                    <div id="details" class="tab-pane fade in active">
                        <div class="product attribute description">
                            <div class="value">

                                {{ product.whichAuction.product.description }}
                            </div>
                        </div>
                    </div>
                    <div id="reviews" class="tab-pane fade"><br/>
                        <div id="product-review-container" data-role="product-review"><div class="block review-list" id="customer-reviews">
                                <div class="block-title">
                                    <strong>Customer Reviews</strong>
                                </div>
                                <div class="block-content">
                                    <ol class="items review-items">
                                        {% for review in product.reviews %}
                                            <li class="item review-item">
                                                <div class="review-title" itemprop="name">{{ review.summary }}</div>
                                                <div class="review-ratings">
                                                    <div class="rating-summary item" itemprop="reviewRating" itemscope="">
                                                        <span class="rating-label"><b>Quality</b></span>
                                                        {{ review.quality | rating(5, "fa-lg") }}
                                                    </div>
                                                    <div class="rating-summary item">
                                                        <span class="rating-label"><b>Price</b></span>
                                                        {{ review.price | rating(5, "fa-lg") }}
                                                    </div>
                                                    <div class="rating-summary item" itemprop="reviewRating" itemscope="">
                                                        <span class="rating-label"><b>Value</b></span>
                                                        {{ review.value | rating(5, "fa-lg") }}
                                                    </div>
                                                </div>
                                                <div class="review-details">
                                                    <p class="review-author">
                                                        <span class="review-details-value">{{ review.review }}</span>
                                                    </p><br/>
                                                    <p class="review-author">
                                                        <span class="review-details-label">Review by</span>
                                                        <strong class="review-details-value" itemprop="author">{{ review.ratedBy.myCompany }}</strong>
                                                    </p>
                                                    <p class="review-date">
                                                        <span class="review-details-label">Reviewed on</span>
                                                        <time class="review-details-value" itemprop="datePublished" datetime="{{ review.createdAt | date }}">{{ review.createdAt | date }}</time>
                                                    </p>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li>No Reviews Found<br/><br/></li>
                                        {%  endfor %}
                                    </ol>

                                </div>

                            </div>
                        </div>

                        {{ render(controller('AppBundle:Rating/Rating:auctionProductRating',{'roseId':product.id })) }}
                    </div>
                    <div id="comments" class="tab-pane fade"><br/>
                        <div id="product-review-container" data-role="product-review"><div class="block review-list" id="customer-reviews">
                                <div class="block-title">
                                    <strong>Comments</strong>
                                </div>
                                <div class="block-content">
                                    <ol class="items review-items">
                                        {% for comment in product.comments %}
                                            <li class="item review-item">

                                                <div class="review-details">
                                                    <p class="review-author">
                                                        <span class="review-details-value">{{ comment.commentText }}</span>
                                                    </p><br/>
                                                    <p class="review-author">

                                                        <strong class="review-details-value" itemprop="author">{{ comment.author.myCompany }}</strong>
                                                    </p>
                                                    <p class="review-date">

                                                        <time class="review-details-value" itemprop="datePublished" datetime="{{ comment.createdAt | date }}">{{ comment.createdAt | date }}</time>
                                                    </p>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li>No Comments Found<br/><br/></li>
                                        {%  endfor %}
                                    </ol>

                                </div>

                            </div>
                        </div>
                        <br/>
                        {{ render(controller('AppBundle:Comment/Comment:auctionProductComment',{'roseId':product.id })) }}
                    </div>
                </div>

            </div>
        </div>
</main>
{% endblock %}