{% extends 'base.html.twig' %}
{% block title %}{{ product.whichAuction.product.title }}{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('.js-recommend-user').on('click',function (e) {
                e.preventDefault();

                var $el = $(this).closest('.js-recommend-item');

                $(this).find('.fa-renren')
                    .removeClass('fa-renren')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');
                $.ajax({
                    url: $(this).data('url'),
                    method: 'GET'
                }).done(function () {
                    $el.fadeOut("slow");
                }).fail(function () {
                    $(this).find('#recommend-btn')
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-times');
                });
            });
        })
    </script>
{% endblock %}
{% block pageclass %}
<body data-container="body" itemtype="http://schema.org/Product" itemscope="itemscope"
      class="catalog-product-view product-orion-two-tone-fitted page-layout-1column" aria-busy="false">
{% endblock %}
{% block body %}
<div class="breadcrumbs">
    <ul class="items">
        <li class="item home">
            <a href="{{ path('home') }}" title="Go to Home Page">
                Home </a>
        </li>
        <li class="item home">
            <a href="{{ path('buyer_auction') }}" title="Go to Home Page">
                Auction Market </a>
        </li>
        <li class="item product">
            <strong>{{ product.whichAuction.product.title }}</strong>
        </li>
    </ul>
</div>
<main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

    <div class="page messages">
        <div data-placeholder="messages">
        </div>
        <div data-bind="scope: 'messages'">
            <div class="messages" data-bind="foreach: { data: cookieMessages, as: 'message' }">
            </div>
            <div class="messages" data-bind="foreach: { data: messages().messages, as: 'message' }">
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column main">
            <div class="product-info-main">
                <div class="page-title-wrapper product">
                    <h1 class="page-title">
				<span class="base" data-ui-id="page-title-wrapper" itemprop="name">
				{{ product.whichAuction.product.title }}</span></h1>
                </div>
                <div class="">
                    <div class="rating-summary">

                        {% if product.reviews | length > 0 %}

                            {% set sumQualityratings = 0 %}
                            {% set avgQualityRatings=0 %}
                            {% for rating in product.reviews %}
                                {% set sumQualityratings = sumQualityratings + rating.quality %}
                            {% endfor %}
                            {% set avgQualityRatings= (sumQualityratings / product.reviews|length) | round %}

                            {% set sumValueratings = 0 %}
                            {% set avgValueRatings=0 %}
                            {% for rating in product.reviews %}
                                {% set sumValueratings = sumValueratings + rating.value %}
                            {% endfor %}
                            {% set avgValueRatings= (sumValueratings / product.reviews|length) | round %}

                            {% set sumPriceratings = 0 %}
                            {% set avgPriceRatings=0 %}
                            {% for rating in product.reviews %}
                                {% set sumPriceratings = sumPriceratings + rating.price %}
                            {% endfor %}
                            {% set avgPriceRatings= (sumQualityratings / product.reviews|length) | round %}

                            {% set avgrating=0 %}
                            {% set avgrating = (avgQualityRatings+avgValueRatings+avgPriceRatings)/3 %}

                            {{ avgrating | rating(5, "fa-lg")   }}
                        {% else %}
                            {{ 0 | rating(5, "fa-lg")   }}
                        {% endif %}

                    </div>

                </div>
                <div class="product-info-price">
                    <div class="price-box price-final_price" data-product-id="63" data-role="priceBox">
					<span class="price-container price-final_price tax weee">
					<span class="price-wrapper " data-price-amount="72" data-price-type="finalPrice">
					<span class="price">{{ app.user.myCompany.currency }} {{ product.pricePerStem | convertCurrency(product.whichAuction.product.vendor.currency,app.user.myCompany.currency) }}</span></span>

					</span></div>
                    <div class="price-box price-final_price" data-role="priceBox" data-product-id="63">
                                            <span class="price-container price-final_price tax weee">
                                                    <span
                                                            data-price-type="finalPrice" class="price-wrapper ">
                                                    <span class="price"
                                                          style="color: #666;font-size: 1.5rem"></span>    </span>
                                             </span>

                    </div>
                    <div class="product-info-stock-sku">
                        <table class="attributes">
                            <tr>
                                <td><strong>Available Stems:</strong> {{ product.availableStock | number_format }} </td>

                            </tr>
                            <tr>
                                <td><strong>Quality:</strong> {{ product.whichAuction.quality }} </td>
                            </tr>

                        </table>

                    </div>
<br/>
                    <div class="product-info-stock-sku">
                        <div class="stock available" title="Availability">
                            <span>Grower:<br/> <a style="color: #d61818"
                                                  href="{{ path('agent_grower_profile',{'id': product.whichAuction.product.vendor.id}) }}">{{ product.whichAuction.product.vendor }}</a></span>
                        </div>

                    </div><br/>
                    {% if product.sellingAgent %}
                        <div class="product-info-stock-sku">
                            <div class="stock available" title="Availability">
                                <span>Selling Agent:<br/><span style="color: #d61818"> {{ product.sellingAgent }}</span></span>
                            </div>

                        </div>
                    {% endif %}

                </div>

                <div class="product attribute overview">
                    <div class="value" itemprop="description">

                    </div>
                </div>

            </div>
            </div>
            <div class="product media">
                <div >

                    <img aria-hidden="false" width="500" height="629" class="fotorama__img"
                         src="{{ asset('images/products/') }}{{ product.whichAuction.product.mainImage }}">

                    <table class="gallery cf">
                        <tr>
                            <td><img class="nim" width="150"
                                     src="{{ asset('images/products/') }}{{ product.whichAuction.product.openHeadTop }}"></td>
                            <td><img class="nim"  width="150"
                                     src="{{ asset('images/products/') }}{{ product.whichAuction.product.openHeadSide }}"></td>
                            <td><img class="nim"  width="150"
                                     src="{{ asset('images/products/') }}{{ product.whichAuction.product.closedHeadSide }}"></td>
                            <td><img class="nim"  width="150"
                                     src="{{ asset('images/products/') }}{{ product.whichAuction.product.openHeadBouquet }}"></td>
                            <td><img class="nim"  width="150"
                                     src="{{ asset('images/products/') }}{{ product.whichAuction.product.closedHeadBouquet }}"></td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="product info detailed">

                <h3>Recommend Product:</h3>

                {{ form_start(form) }}
                <fieldset>
                    <legend>Please select Buyers to recommend to</legend>
                    {% for agentBuyer in agentBuyers %}
                        <p class="js-recommend-item">
                            <span  style="display:inline-block;width:180px;"><strong>{{ agentBuyer.buyer.companyName }}</strong></span>
                            <a href="#"
                               class="action request js-recommend-user"
                               data-url="{{ path('agent-recommend-auction',{
                                   'id': agentBuyer.buyer.id,
                                   'auction':product.id
                               }) }}"
                               title="Recommend to {{ agentBuyer.buyer.companyName }}">
                                <span id="recommend-btn" class="fa fa-renren fa-1x"></span>  Recommend

                            </a>
                        </p>
                    {% else %}
                        <p>You have no Buyers on record</p>
                    {% endfor %}

                    {{ form_end(form) }}

            </div>
        </div>
</main>

{% endblock %}