{% extends 'base.html.twig' %}
{% block title %} Recommend {{ product.title }}{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('.js-recommend-user').on('click',function (e) {
            e.preventDefault();

            var $el = $(this).closest('.js-recommend-item');

            $(this).find('.fa-exchange')
                .removeClass('fa-exchange')
                .addClass('fa-spinner')
                .addClass('fa-spin');
            $.ajax({
                url: $(this).data('url'),
                method: 'GET'
            }).done(function () {
                $el.fadeOut("slow");
            });
        });
    })
</script>
{% endblock %}
{% block pageclass %}
<body data-container="body" itemtype="http://schema.org/Product" itemscope="itemscope"
      class="catalog-product-view product-orion-two-tone-fitted page-layout-1column" aria-busy="false">
{% endblock %}
{% block body %}
<div class="breadcrumbs">
    <ul class="items">
        <li class="item home">
            <a href="{{ path('agent_dashboard') }}" title="Go to Home Page">
                Home </a>
        </li>
        <li class="item home">
            <a href="{{ path('agent_auction_product_list') }}" title="Go to Home Page">
                Auction Market </a>
        </li>

        <li class="item product">
            Recommend <strong>{{ product.title }}</strong>
        </li>
    </ul>
</div>
<main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

    <div class="page messages">
        <div data-placeholder="messages">
        </div>
        <div data-bind="scope: 'messages'">
            <div class="messages" data-bind="foreach: { data: cookieMessages, as: 'message' }">
            </div>
            <div class="messages" data-bind="foreach: { data: messages().messages, as: 'message' }">
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column main">
            <div class="product-info-main">
                <div class="page-title-wrapper product">
                    <h1 class="page-title">
				<span class="base" data-ui-id="page-title-wrapper" itemprop="name">
				{{ product.title }}</span></h1>
                </div>

                <div class="product-info-price">
                    <div class="price-box price-final_price" data-product-id="63" data-role="priceBox">
					<span class="price-container price-final_price tax weee">
					<span class="price-wrapper " data-price-amount="72" data-price-type="finalPrice">
					<span class="price">{{ product.currency }} {{ product.finalPrice | number_format(2) }}</span></span>
					<meta content="{{ product.currency }}" itemprop="priceCurrency">
					</span></div>
                    <div class="price-box price-final_price" data-role="priceBox" data-product-id="63">
                                            <span class="price-container price-final_price tax weee">
                                                    <span data-price-amount="{{ product.finalPrice }}"
                                                          data-price-type="finalPrice" class="price-wrapper ">
                                                    <span class="price"
                                                          style="color: #666;font-size: 1.5rem"></span>    </span>
                                             </span>

                    </div>
                    <div class="product-info-stock-sku">
                        <div class="stock available" title="Availability">
                            <span>Quantity:<br/> <a style="color: #d61818"
                                                    href="">{{ product.quantity | number_format }}</a></span>
                        </div>

                    </div>

                    <div class="product-info-stock-sku">
                        <div class="stock available" title="Availability">
                            <span>Sold By:<br/> <a style="color: #d61818"
                                                   href="">{{ product.user.firstName }} {{ product.user.lastName }}</a></span>
                        </div>

                    </div>
                    {% if(product.agent) %}
                        <div class="product-info-stock-sku">
                            <div class="stock available" title="Availability">
                                <span>Agent:<br/> <a style="color: #d61818"
                                                     href=""> {{ product.agent.firstName }} {{ product.agent.lastName }}</a></span>
                            </div>

                        </div>
                    {% endif %}
                </div>

                <div class="product attribute overview">
                    <div class="value" itemprop="description">
                        <p>{{ product.summary }}</p>

                    </div>
                </div>


            </div>
            <div class="product media">
                <div class="gallery-placeholder" data-gallery-role="gallery-placeholder">

                    <div class="fotorama--hidden">
                    </div>
                    <style>
                        .fotorama1493313427134 .fotorama__nav--thumbs .fotorama__nav__frame {
                            padding: 2px;
                            height: 110px;
                        }

                        .fotorama1493313427134 .fotorama__thumb-border {
                            height: 110px;
                            border-width: 2px;
                            margin-top: 2px;
                        }
                    </style>
                    <div class="fotorama-item fotorama fotorama1493313427134" data-gallery-role="gallery">
                        <div data-gallery-role="fotorama__focusable-start" tabindex="-1">
                        </div>
                        <div class="fotorama__wrap fotorama__wrap--css3 fotorama__wrap--slide fotorama__wrap--toggle-arrows fotorama__wrap--no-controls"
                             style="min-width: 0px; max-width: 100%;">
                            <div class="fotorama__stage" data-fotorama-stage="fotorama__stage"
                                 style="width: 491px; height: 618px;">
                                <div aria-label="Exit fullscreen" class="fotorama__fullscreen-icon"
                                     data-gallery-role="fotorama__fullscreen-icon" role="button" tabindex="0">
                                </div>
                                <div aria-label="Previos" class="fotorama__arr fotorama__arr--prev"
                                     data-gallery-role="arrow" role="button" tabindex="0">
                                    <div class="fotorama__arr__arr">
                                    </div>
                                </div>
                                <div class="fotorama__stage__shaft fotorama__grab" data-gallery-role="stage-shaft"
                                     style="width: 491px; margin-left: 0px; transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);"
                                     tabindex="0">
                                    <div aria-hidden="false"
                                         class="fotorama__stage__frame fotorama_vertical_ratio fotorama__loaded fotorama__loaded--img fotorama__active"
                                         data-active="true"
                                         href=""
                                         style="left: 0px;">
                                        <img aria-hidden="false" width="500" height="629" class="fotorama__img"
                                             src="{{ asset('images/products/') }}{{ product.imageName }}"></div>

                                </div>
                                <div aria-label="Next" class="fotorama__arr fotorama__arr--next"
                                     data-gallery-role="arrow" role="button" tabindex="0">
                                    <div class="fotorama__arr__arr">
                                    </div>
                                </div>
                                <div class="fotorama__video-close">
                                </div>
                                <div aria-label="Zoom in" class="fotorama__zoom-in zoom-in-loaded"
                                     data-gallery-role="fotorama__zoom-in" role="button" tabindex="0">
                                </div>
                                <div aria-label="Zoom out" class="fotorama__zoom-out zoom-out-loaded"
                                     data-gallery-role="fotorama__zoom-out" role="button" tabindex="0">
                                </div>
                                <div class="fotorama__spinner">
                                </div>
                            </div>

                        </div>
                        <div data-gallery-role="fotorama__focusable-end" tabindex="-1">
                        </div>
                    </div>
                    <div id="preview" class="magnifier-preview magnify-hidden" data-gallery-role="magnifier"
                         style="display: none;">
                    </div>
                </div>
                <h3>Recommend To:</h3>

                {{ form_start(form) }}
                <fieldset>
                    <legend>Please select Buyers to recommend to</legend>
                {% for agentBuyer in agentBuyers %}
                    <p class="js-recommend-item">
                        <span  style="display:inline-block;width:180px;"><strong>{{ agentBuyer.buyer.fullName }}</strong></span>
                        <a href="#"
                                class="action request js-recommend-user"
                           data-url="{{ path('agent-recommend-auction',{
                               'id': agentBuyer.buyer.id,
                               'auction':product.id
                           }) }}"
                                title="Recommend to Buyer">
                            <span class="fa fa-exchange fa-1x"></span>  Recommend

                        </a>
                    </p>
                {% else %}
                    <p>You have no Buyers on record</p>
                {% endfor %}

                {{ form_end(form) }}
            </div>

          </div>
    </div>
</main>

{% endblock %}