{% extends 'base.html.twig' %}
{% block title %}{{ direct.product.title }}{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        // prepare the form when the DOM is ready
        $(document).ready(function() {

            // bind to the form's submit event
            $('#addToCart').submit(function(e) {
                var ajaxRequest;
                //Prevent Normal Submit
                e.preventDefault();

                $(".messages").fadeOut("slow");

                $(this).find('.fa-shopping-cart')
                    .removeClass('fa-shopping-cart')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                $(this).find('.fa-check')
                    .removeClass('fa-check')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');


                // get form values
                var values = $(this).serialize();


                $.ajax({
                    url: $(this).data('url'),
                    data: values,
                    method: 'POST'
                }).done(function () {
                    //$el.fadeOut("slow");
                   $(".messages").fadeIn("slow");

                   $("#add-t-cart")
                       .removeClass('fa-spinner')
                       .removeClass('fa-spin')
                       .addClass('fa-check');
                   location.reload();
                }).fail(function(){
                    $(".errors").fadeIn("slow");

                    $("#add-t-cart")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-times');
                })


            });

            // bind to the form's submit event
            $('#newsletter-validate-detail1').submit(function(f) {
                var ajaxRequest;
                //Prevent Normal Submit
                f.preventDefault();

                $(".messages").fadeOut("slow");

                $(this).find('.fa-send')
                    .removeClass('fa-send')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                var form = document.getElementById("newsletter-validate-detail1");
                var elements = form.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                // get form values
                var messageValues = $(this).serialize();

                $.ajax({
                    url: $(this).attr("action"),
                    data: messageValues,
                    method: 'POST'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $(".control").fadeOut("slow");

                    $(".sent").fadeIn("slow");

                    $("#send")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                })

            });

            // bind to the form's submit event
            $('#rating-form').submit(function(f) {
                var ajaxRequest;
                //Prevent Normal Submit
                f.preventDefault();

                $(".messages").fadeOut("slow");

                $(this).find('.fa-telegram')
                    .removeClass('fa-telegram')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                var form = document.getElementById("rating-form");
                var elements = form.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                // get form values
                var ratingValues = $(this).serialize();

                $.ajax({
                    url: $(this).attr("action"),
                    data: ratingValues,
                    method: 'POST'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $(".control").fadeOut("slow");


                    $("#rate")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    location.reload();
                })

            });

            $('.tocompare').on('click',function (e) {
                e.preventDefault();

                $(this).find('#compare')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');
                $.ajax({
                    url: $(this).data('url'),
                    method: 'GET'
                }).done(function () {
                    $("#compare")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    $(".result").fadeIn("slow");
                }).fail(function () {
                    $("#compare")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-times');
                    $(".error").fadeIn("slow");
                });
            });

            // bind to the form's submit event
            $('#comment-form').submit(function(f) {
                var ajaxRequest;
                //Prevent Normal Submit
                f.preventDefault();

                $(".messages").fadeOut("slow");

                $(this).find('.fa-telegram')
                    .removeClass('fa-telegram')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                var form = document.getElementById("comment-form");
                var elements = form.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                // get form values
                var commentValues = $(this).serialize();

                $.ajax({
                    url: $(this).attr("action"),
                    data: commentValues,
                    method: 'POST'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $(".control").fadeOut("slow");


                    $("#comment")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    location.reload();
                }).fail(function () {
                    $(".failure").fadeIn("slow");

                    $("#comment")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-times');
                });

            });

        });


    </script>
{% endblock %}
{% block pageclass %}
<body data-container="body" itemscope="itemscope"
      class="catalog-product-view product-{{ direct.product.slug }} page-layout-1column" aria-busy="false">
{% endblock %}
{% block body %}

    <div class="breadcrumbs">
        <ul class="items">
            <li class="item home">
                <a href="{{ path('home') }}" title="Go to Home Page">
                    Home </a>
            </li>
            <li class="item home">
                <a href="{{ path('buyer_shop') }}" title="Go to Home Page">
                    Direct Market </a>
            </li>
            <li class="item product">
                <strong>{{ direct.product.title }}</strong>
            </li>
        </ul>
    </div>
    <main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

        <div class="page messages">
            <div class="messages" style="">
                <div class="message-success success message">
                    <div>
                    You added {{ direct.product.title }} to your shopping cart.
                    </div>
                    </div>

            </div>
        </div>
        <div class="page errors">
            <div class="errors" style="">
                <div class="alert alert-danger">
                    <div>
                      :-(  Something went wrong. {{ direct.product.title }} was NOT added to your shopping cart.
                    </div>
                </div>

            </div>
        </div>
        <div class="columns">
            <div class="column main">
                <div class="product-info-main">
                    <div class="page-title-wrapper product">
                        <h1 class="page-title">
				<span class="base" data-ui-id="page-title-wrapper" itemprop="name">
				{{ direct.product.title }}</span></h1>
                    </div>

                    <div class="product-info-price">
                        <div class="price-box price-final_price" data-product-id="63" data-role="priceBox">
					<span class="price-container price-final_price tax weee">
					<span class="price-wrapper " data-price-amount="72" data-price-type="finalPrice">
					<span class="price">{{ app.user.myCompany.currency }} {{ direct.pricePerStem | convertCurrency(direct.product.vendor.currency,app.user.myCompany.currency) }}</span></span>
					<meta content="{{ direct.currency }}" itemprop="priceCurrency">
					</span></div>
                        <div class="product-info-stock-sku">
                            <div class="stock available" title="Availability">
                                <span>Grower:</span>&nbsp; <a href="{{ path('view_grower',{'id':direct.product.vendor.id }) }}">{{ direct.product.vendor }}</a></div>
                            <div class="product attribute sku">
                                <strong class="type"></strong>

                                <div class="value" itemprop="sku">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-add-form">
                        {{ form_start(form,{'attr': {'id': 'addToCart'}}) }}
                        <input type="hidden" name="productCurrency" value="{{ app.user.myCompany.currency }}"/>
                        <input type="hidden" name="productPrice" value="{{ direct.pricePerStem | convertCurrency(direct.product.vendor.currency,app.user.myCompany.currency) }}"/>
                        <input type="hidden" name="productId" value="{{ direct.id }}"/>
                            <div class="box-tocart">
                                <div class="fieldset">
                                    <div class="field qty">
                                        <label class="label" for="qty"><span>Qty</span></label>

                                        <div class="control">
                                            <input id="qty" class="input-text qty" maxlength="12" name="quantity"
                                                   title="Qty" type="number" value="{{ direct.minimumOrder }}">
                                        </div>
                                    </div>
                                    <div class="actions">
                                        &nbsp;<button  class="action primary"
                                                title="Add to Cart" type="submit">
                                            <span id="add-t-cart" class="fa fa-shopping-cart"></span>&nbsp;&nbsp; <span>Add to Cart</span></button>
                                    </div>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>

                    <div class="product-social-links">
                        <div class="product-addto-links" data-role="add-to-links">
                            <div class="result">
                                <div class="alert alert-success">
                                   <span class="fa fa-check"></span> <strong>{{ direct.product.title }}</strong> successfully added to your Comparison List.
                                </div>
                            </div>
                            <div class="error">
                            <div class="alert alert-danger">
                                <strong>Oops!</strong> <strong>{{ direct.product.title }}</strong> is already in you Comparison List.
                            </div>
                            </div>
                           <!-- <a class="action towishlist" data-action="add-to-wishlist"
                               data-post=""
                               href="#">
                                <span>Add to Wish List</span></a> -->
                            <a class="action tocompare" href="#"
                               data-url="{{ path('add-rose-to-compare',{
                                   'id': direct.id
                               }) }}">
                                <span><span id="compare" class="fa">&nbsp;</span> Add to Compare</span></a></div>
                        <a class="action mailto friend" href="#"
                           data-toggle="modal" data-target="#newsletter_pop_up">
                            <span>Email</span></a></div>

                    <div class="product attribute overview">
                        <div class="value" itemprop="description">

                            <table>
                               
                                <tr>
                                    <td><strong>Color:</strong> {{ direct.product.color }}</td>
                                    <td><strong>Season:</strong> {{ direct.product.season }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Vaselife: </strong>{{ direct.product.vaselife }}</td>
                                    <td><strong>Stem Length:</strong> {{ direct.product.stemLength }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Headsize:</strong> {{ direct.product.headsize }}</td>
                                    <td><strong>Stock: </strong> {{ direct.numberOfStems | number_format }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Stems Per Box:</strong> {{ direct.stemsPerBox | number_format }}</td>
                                    <td><strong>Quality: </strong> {{ direct.quality }}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="product media">
                    <div >

                        <img aria-hidden="false" width="500" height="629" class="fotorama__img"
                             src="{{ asset('images/products/') }}{{ direct.product.mainImage }}">

                           <table class="gallery cf">
                               <tr>
                                   <td><img class="nim" width="150"
                                            src="{{ asset('images/products/') }}{{ direct.product.openHeadTop }}"></td>
                                   <td><img class="nim"  width="150"
                                            src="{{ asset('images/products/') }}{{ direct.product.openHeadSide }}"></td>
                                   <td><img class="nim"  width="150"
                                            src="{{ asset('images/products/') }}{{ direct.product.closedHeadSide }}"></td>
                                   <td><img class="nim"  width="150"
                                            src="{{ asset('images/products/') }}{{ direct.product.openHeadBouquet }}"></td>
                                   <td><img class="nim"  width="150"
                                            src="{{ asset('images/products/') }}{{ direct.product.closedHeadBouquet }}"></td>
                               </tr>
                           </table>
                    </div>

                </div>

                <div class="product info detailed">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#details">Description</a></li>
                        <li><a data-toggle="tab" href="#reviews">Reviews</a></li>
                        <li><a data-toggle="tab" href="#comments">Comments</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="details" class="tab-pane fade in active">
                            <div class="product attribute description">
                                <div class="value">

                                {{ direct.product.description }}
                                </div>
                            </div>
                        </div>
                        <div id="reviews" class="tab-pane fade"><br/>
                            <div id="product-review-container" data-role="product-review"><div class="block review-list" id="customer-reviews">
                                    <div class="block-title">
                                        <strong>Customer Reviews</strong>
                                    </div>
                                    <div class="block-content">
                                        <ol class="items review-items">
                                            {% for review in direct.reviews %}
                                                <li class="item review-item">
                                                    <div class="review-title" itemprop="name">{{ review.summary }}</div>
                                                    <div class="review-ratings">
                                                        <div class="rating-summary item" itemprop="reviewRating" itemscope="">
                                                            <span class="rating-label"><b>Quality</b></span>
                                                            {{ review.quality | rating(5, "fa-lg") }}
                                                        </div>
                                                        <div class="rating-summary item">
                                                            <span class="rating-label"><b>Price</b></span>
                                                            {{ review.price | rating(5, "fa-lg") }}
                                                        </div>
                                                        <div class="rating-summary item" itemprop="reviewRating" itemscope="">
                                                            <span class="rating-label"><b>Value</b></span>
                                                            {{ review.value | rating(5, "fa-lg") }}
                                                        </div>
                                                    </div>
                                                    <div class="review-details">
                                                        <p class="review-author">
                                                            <span class="review-details-value">{{ review.review }}</span>
                                                        </p><br/>
                                                        <p class="review-author">
                                                            <span class="review-details-label">Review by</span>
                                                            <strong class="review-details-value" itemprop="author">{{ review.ratedBy.myCompany }}</strong>
                                                        </p>
                                                        <p class="review-date">
                                                            <span class="review-details-label">Reviewed on</span>
                                                            <time class="review-details-value" itemprop="datePublished" datetime="{{ review.createdAt | date }}">{{ review.createdAt | date }}</time>
                                                        </p>
                                                    </div>
                                                </li>
                                            {% else %}
                                                <li>No Reviews Found<br/><br/></li>
                                            {%  endfor %}
                                        </ol>

                                    </div>

                                </div>
                            </div>

                            {{ render(controller('AppBundle:Rating/Rating:roseRating',{'roseId':direct.id })) }}
                        </div>
                        <div id="comments" class="tab-pane fade"><br/>
                            <div id="product-review-container" data-role="product-review"><div class="block review-list" id="customer-reviews">
                                    <div class="block-title">
                                        <strong>Comments</strong>
                                    </div>
                                    <div class="block-content">
                                        <ol class="items review-items">
                                            {% for comment in direct.comments %}
                                                <li class="item review-item">

                                                    <div class="review-details">
                                                        <p class="review-author">
                                                            <span class="review-details-value">{{ comment.commentText }}</span>
                                                        </p><br/>
                                                        <p class="review-author">

                                                            <strong class="review-details-value" itemprop="author">{{ comment.author.myCompany }}</strong>
                                                        </p>
                                                        <p class="review-date">

                                                            <time class="review-details-value" itemprop="datePublished" datetime="{{ comment.createdAt | date }}">{{ comment.createdAt | date }}</time>
                                                        </p>
                                                    </div>
                                                </li>
                                            {% else %}
                                                <li>No Comments Found<br/><br/></li>
                                            {%  endfor %}
                                        </ol>

                                    </div>

                                </div>
                            </div>
                            <br/>
                            {{ render(controller('AppBundle:Comment/Comment:roseComment',{'roseId':direct.id })) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
<!-- Message Box -->
<div id="newsletter_pop_up" class="pt_newsletterpopup hidden-xs" style="background-image: url(&quot;&quot;); width: 790px; height: 390px; position: absolute; z-index: 9999; opacity: 1; left: 288px; top: 720px;">
    <span class="b-close" data-dismiss="modal"><span>X</span></span>
    <div class="title"><strong>DIRECT MESSAGE</strong></div>
    <div class="content">

        <div class="field newsletter">
            <div class="" for="newsletter1"><span>This allows you to send a direct message to  <b><i>{{ direct.product.vendor }}</i></b>  ,the Grower of <b><i>{{ direct.product.title }}</i></b> .<br/> For a faster response, Keep it short and direct.</span></div>
            <div class="page sent"><br/><br/>
                <div class="alert alert-success">
                    <strong> </strong> <i class="fa fa-check"></i> Message Sent!
                </div>

            </div>
            <div class="control">
                <div class="form">
              {{ render(controller('AppBundle:Messaging/Messaging:newMessage',{
                  'participantId': direct.addedBy.id
              })) }}
                </div>
            </div>
        </div>



    </div>
</div>
<!-- End Message Box -->
{% endblock %}