{% extends 'base.html.twig' %}
    {% block title %}iFlora Direct Market{% endblock %}
{% block pageclass %}
<body data-container="body"
      class="page-with-filter page-products categorypath-short-sleeve category-short-sleeve catalog-category-view page-layout-2columns-left">
{% endblock %}
{% block body %}
    <div class="category-view">
        <div class="page-title-wrapper">
            <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">
                <span class="base" data-ui-id="page-title-wrapper">My Seedlings</span></h1>
        </div>
        <div class="breadcrumbs">
            <ul class="items">
                <li class="item home">
                    <a href="{{ path('breeder_dashboard') }}" title="Go to Home Page">
                        Home </a>
                </li>
                <li class="item category131">
                    <strong>My Seedlings</strong>
                </li>
            </ul>
        </div>
    </div>
    <main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

        <div class="page messages">
            <div data-placeholder="messages">
            </div>
            <div data-bind="scope: 'messages'">
                <div class="messages" data-bind="foreach: { data: cookieMessages, as: 'message' }">
                </div>
                <div class="messages" data-bind="foreach: { data: messages().messages, as: 'message' }">
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column main">

                <div class="toolbar toolbar-products">
                    <div class="modes">
                        <strong id="modes-label" class="modes-label">View as</strong>
                        <strong class="modes-mode active mode-grid" data-value="grid" title="Grid">
                            <span>Grid</span> </strong>
                        <a id="mode-list" aria-labelledby="modes-label mode-list" class="modes-mode mode-list"
                           data-role="mode-switcher" data-value="list" href="#" title="List">
                            <span>List</span> </a></div>
                    <p id="toolbar-amount" class="toolbar-amount">Items
                        <span class="toolbar-number">1</span>-<span class="toolbar-number">9</span>
                        of <span class="toolbar-number">{{ products.getTotalItemCount }}</span></p>


                    <div class="toolbar-sorter sorter">
                        <label class="sorter-label" for="sorter">Sort By</label>
                        <table>
                            <tr>
                                {# sorting of properties based on query components #}
                                <th>{{ knp_pagination_sortable(products, 'Price', 'product.price') }}</th>
                                <th{% if products.isSorted('product.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(products, 'Title', 'product.title') }}</th>

                            </tr>
                        </table>

                        <a class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc"
                           href="#" title="Set Descending Direction">
                            <span>Set Descending Direction</span> </a></div>
                </div>
                <div class="products wrapper list products-list">
                    <ol class="products list items product-items">
                        {% for product in products %}
                            <li class="item product product-item">
                                <div class="product-item-info" data-container="product-grid">
                                    <div class=" product-item-images">
                                        <a href="/breeder/seedling/{{ product.id }}/edit"
                                           class="product photo product-item-photo" tabindex="-1">

<span class="product-image-container" style="width:350px;">
    <span class="product-image-wrapper" style="padding-bottom: 126%;">
        <img class="product-image-photo" src="{{ asset('images/products/') }}{{ product.imageName }}" width="350"
             height="441" alt="{{ product.title }}"></span>
</span>
                                        </a>
                                    </div>

                                    <div class="product-item-details">
                                        <div class="content-name">
                                            <strong class="product name product-item-name">
                                                <a class="product-item-link"
                                                   href="/breeder/seedling/{{ product.id }}/edit">
                                                    {{ product.title }}                            </a>
                                            </strong>

                                            <a href="#" class="wishlist" title="WishList" aria-label="WishList"
                                               data-post="" data-action="add-to-wishlist" role="button">
                                                <span>WishList</span>
                                            </a>
                                        </div>
                                        <!--
                                                                                <div class="product-reviews-summary" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                                                                    <div class="rating-summary">
                                                                                        <span class="label"><span>Rating:</span></span>
                                                                                        <div class="rating-result" title="80%">
                                                                                            <span style="width:80%"><span><span itemprop="ratingValue">80</span>% of <span itemprop="bestRating">100</span></span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="reviews-actions">
                                                                                        <a class="action view" href="http://plazathemes.com/demo/presiden/english11/orion-two-tone-fitted.html#reviews"><span itemprop="reviewCount">1</span>&nbsp;<span>Review</span></a>
                                                                                        <a class="action add" href="http://plazathemes.com/demo/presiden/english11/orion-two-tone-fitted.html#review-form">Add Your Review</a>
                                                                                    </div>
                                                                                </div> -->
                                        <div class="price-box price-final_price" data-role="priceBox"
                                             data-product-id="63">


<span class="price-container price-final_price tax weee">
        <span data-price-amount="{{ product.price }}" data-price-type="finalPrice" class="price-wrapper ">
        <span class="price">{{ product.currency }} {{ product.price }}</span>    </span>
        </span>

                                        </div>

                                        <div class="product description product-item-description">
                                            <p>{{ product.summary }}</p>
                                            <a href="/breeder/seedling/{{ product.id }}/edit" title="{{ product.id }}"
                                               class="action more">Learn More</a>
                                        </div>

                                        <div class="product-item-actions">
                                            <div class="add-to-cart-primary">
                                                <a title="Edit Product" class="action tocart primary"
                                                   href="/breeder/seedling/{{ product.id }}/edit">
                                                    <span><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit Product</span>
                                                </a>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>


                <div class="toolbar toolbar-products">
                    <div class="modes">
                        <strong id="modes-label" class="modes-label">View as</strong>
                        <strong class="modes-mode active mode-grid" data-value="grid" title="Grid">
                            <span>Grid</span> </strong>
                        <a id="mode-list" aria-labelledby="modes-label mode-list" class="modes-mode mode-list"
                           data-role="mode-switcher" data-value="list" href="#" title="List">
                            <span>List</span> </a></div>
                    <p id="toolbar-amount" class="toolbar-amount">Items
                        <span class="toolbar-number">1</span>-<span class="toolbar-number">9</span>
                        of <span class="toolbar-number">10</span></p>

                    <div class="pages">
                        <strong id="paging-label" class="label pages-label">Page</strong>
                        {# display navigation #}
                        <div class="navigation text-center">
                            {{ knp_pagination_render(products) }}
                        </div>
                    </div>

                    <div class="toolbar-sorter sorter">
                        <label class="sorter-label" for="sorter">Sort By</label>
                        <select id="sorter" class="sorter-options" data-role="sorter">
                            <option selected="selected" value="position">Position</option>
                            <option value="name">Product Name</option>
                            <option value="price">Price</option>
                        </select>
                        <a class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc"
                           href="#" title="Set Descending Direction">
                            <span>Set Descending Direction</span> </a></div>
                </div>
            </div>
            {% include('breeder/sidebar.htm.twig') %}

        </div>
    </main>

{% endblock %}
