{% extends 'base.html.twig' %}
{% block title %} My Recommendations {% endblock %}
{% block pageclass %}
<body data-container="body"
      class="page-with-filter page-products categorypath-short-sleeve category-short-sleeve catalog-category-view page-layout-2columns-left">
{% endblock %}

{% block body %}
<div class="category-view">
    <div class="page-title-wrapper">
        <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">
            <span class="base" data-ui-id="page-title-wrapper">Recommendations</span></h1>
    </div>
    <div class="breadcrumbs">
        <ul class="items">
            <li class="item home">
                <a href="{{ path('agent_dashboard') }}" title="Go to Home Page">
                    Home </a>
            </li>
            <li class="item category131">
                <strong>My Recommendations</strong>
            </li>
        </ul>
    </div>
</div>
<main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

    <div class="page messages">
        <div data-placeholder="messages">
        </div>
        <div data-bind="scope: 'messages'">
            <div class="messages" data-bind="foreach: { data: cookieMessages, as: 'message' }">
            </div>
            <div class="messages" data-bind="foreach: { data: messages().messages, as: 'message' }">
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column main">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>My Recommendations </h2>
                            <ul class="nav navbar-right panel_toolbox">


                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p class="text-muted font-13 m-b-30">
                            </p>
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Image</th>
                                <th>Product</th>
                                    <th>Recommended To</th>
                                    <th>Recommended On</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for recommendation in recommendations %}
                                    <tr>
                                        <td><a href="{{ path('agent_auction_product_details',{'id':recommendation.auctionProduct.id }) }}"> <img class="" src="{{ asset('images/products/') }}{{ recommendation.auctionProduct.whichAuction.product.mainImage }}" width="150"
                                                                                                                                                 height="141" alt="{{ recommendation.auctionProduct.whichAuction.product.title }}"></a></td>
                                        <td><a style="color:#e93838;" href="{{ path('agent_auction_product_details',{'id':recommendation.auctionProduct.id }) }}"> {{ recommendation.auctionProduct.whichAuction.product.title }}</a>
                                            <div class="">
                                                <div class="rating-summary">

                                                    {% if recommendation.auctionProduct.reviews | length > 0 %}

                                                        {% set sumQualityratings = 0 %}
                                                        {% set avgQualityRatings=0 %}
                                                        {% for rating in recommendation.auctionProduct.reviews %}
                                                            {% set sumQualityratings = sumQualityratings + rating.quality %}
                                                        {% endfor %}
                                                        {% set avgQualityRatings= (sumQualityratings / recommendation.auctionProduct.reviews|length) | round %}

                                                        {% set sumValueratings = 0 %}
                                                        {% set avgValueRatings=0 %}
                                                        {% for rating in recommendation.auctionProduct.reviews %}
                                                            {% set sumValueratings = sumValueratings + rating.value %}
                                                        {% endfor %}
                                                        {% set avgValueRatings= (sumValueratings / recommendation.auctionProduct.reviews|length) | round %}

                                                        {% set sumPriceratings = 0 %}
                                                        {% set avgPriceRatings=0 %}
                                                        {% for rating in recommendation.auctionProduct.reviews %}
                                                            {% set sumPriceratings = sumPriceratings + rating.price %}
                                                        {% endfor %}
                                                        {% set avgPriceRatings= (sumQualityratings / recommendation.auctionProduct.reviews|length) | round %}

                                                        {% set avgrating=0 %}
                                                        {% set avgrating = (avgQualityRatings+avgValueRatings+avgPriceRatings)/3 %}

                                                        {{ avgrating | rating(5, "fa-lg")   }}
                                                    {% else %}
                                                        {{ 0 | rating(5, "fa-lg")   }}
                                                    {% endif %}

                                                </div>
                                            </div>
                                            <div class="price-box price-final_price" data-role="priceBox"
                                                 data-product-id="63">
                                            <span class="price-container price-final_price tax weee">
                                                    <span
                                                            data-price-type="finalPrice" class="price-wrapper ">
                                                    <span class="price"
                                                          style="color: #666;font-size: 1.5rem">Grower: </span><span>{{ recommendation.auctionProduct.whichAuction.vendor.companyName }}</span>    </span>
                                             </span>

                                            </div>

                                            <div class="price-box price-final_price" data-role="priceBox"
                                                 data-product-id="63">
                                            <span class="price-container price-final_price tax weee">
                                                    <span
                                                            data-price-type="finalPrice" class="price-wrapper ">
                                                    <span class="price"
                                                          style="color: #666;font-size: 1.5rem">Stock:</span><span> {{ recommendation.auctionProduct.availableStock | number_format }}</span>
                                                    </span>
                                            </span>


                                            </div>

                                        </td>
                                        <td>{{ recommendation.listOwner.companyName }}</td>
                                        <td>{{ recommendation.createdAt |date("d/m/Y") }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">No Recommendations found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include(':agent:sidebar.htm.twig') %}

    </div>
</main>

{% endblock %}