<nav class="nav-container visible-lg visible-md">
    <div id="pt_custommenu" class="pt_custommenu">
        <div id="pt_menu_home" class="pt_menu act">
            <div class="parentMenu">
                <a href="{{ path('agent_dashboard') }}">
                    <span>Home</span>
                </a>
            </div>
        </div>
        <div id="pt_menu118" class="pt_menu nav-1">
            <div class="parentMenu" style="">
                <a href="{{ path('my_assigned_product_list') }}" class="pt_cate ">
                    <span>Assigned Products</span>
                </a>
            </div>
        </div>
        <div id="pt_menu131" class="pt_menu nav-2 pt_menu_no_child">
            <div class="parentMenu" style="">
                <a href="{{ path('agent_auction_product_list') }}" class="pt_cate ">
                    <span>Auction Market</span>
                </a>
            </div>
        </div>
        <div id="pt_menu231" class="pt_menu nav-4 pt_menu_no_child">
            <div class="parentMenu" style="">
                <a href="{{ path('agent_buyer_list') }}" class="pt_cate ">
                    <span>Buyers</span>
                </a>
            </div>
        </div>
        <div id="pt_menu115" class="pt_menu nav-5 pt_menu_no_child">
            <div class="parentMenu" style="">
                <a href="{{ path('agent_growers_list') }}" class="pt_cate ">
                    <span>Growers</span>
                </a>
            </div>
        </div>
        <div class="clearBoth"></div>
    </div>
</nav>
