<nav class="nav-container visible-lg visible-md">
    <div id="pt_custommenu" class="pt_custommenu">
        <div id="pt_menu_home" class="pt_menu act">
            <div class="parentMenu">
                <a href="{{ path('grower_dashboard') }}">
                    <span>Home</span>
                </a>
            </div>
        </div>
        <div id="pt_menu118" class="pt_menu nav-1">
            <div class="parentMenu" style="">
                <a href="{{ path('my_grower_product_list') }}" class="pt_cate ">
                    <span>Direct Market</span>
                </a>
            </div>
        </div>
        <div id="pt_menu131" class="pt_menu nav-2 pt_menu_no_child">
            <div class="parentMenu" style="">
                <a href="{{ path('my_grower_auction_list') }}" class="pt_cate ">
                    <span>Auction Market</span>
                </a>
            </div>
        </div>
        <div id="pt_menu139" class="pt_menu nav-3 pt_menu_no_child">
            <div class="parentMenu" style="">
                <a href="{{ path('grower_seedlings_list') }}" class="pt_cate ">
                    <span>Seedlings</span>
                </a>
            </div>
        </div>
        <div id="pt_menu231" class="pt_menu nav-4 pt_menu_no_child">
            <div class="parentMenu" style="">
                <a href="{{ path('breeder_list') }}" class="pt_cate ">
                    <span>Breeders</span>
                </a>
            </div>
        </div>
        <div id="pt_menu115" class="pt_menu nav-5 pt_menu_no_child">
            <div class="parentMenu" style="">
                <a href="{{ path('grower_agent_list') }}" class="pt_cate ">
                    <span>Agents</span>
                </a>
            </div>
        </div>
        <div class="clearBoth"></div>
    </div>
</nav>
