<nav class="nav-container visible-lg visible-md">
    <div id="pt_custommenu" class="pt_custommenu">
        <div id="pt_menu_home" class="pt_menu act">
            <div class="parentMenu">
                <a href="{{ path('security_login') }}">
                    <span>Home</span>
                </a>
            </div>
        </div>
        <div id="pt_menu118" class="pt_menu nav-1">
            <div class="parentMenu" style="">
                <a href="{{ path('security_login') }}" class="pt_cate ">
                    <span>Direct Market</span>
                </a>
            </div>
        </div>
        <div id="pt_menu131" class="pt_menu nav-2 pt_menu_no_child">
            <div class="parentMenu" style="">
                <a href="{{ path('security_login') }}" class="pt_cate ">
                    <span>Auction Market</span>
                </a>
            </div>
        </div>
        <div id="pt_menu139" class="pt_menu nav-3 pt_menu_no_child">
            <div class="parentMenu" style="">
                <a href="{{ path('security_login') }}" class="pt_cate ">
                    <span>About iFlora</span>
                </a>
            </div>
        </div>
        <div id="pt_menu231" class="pt_menu nav-4 pt_menu_no_child">
            <div class="parentMenu" style="">
                <a href="{{ path('security_login') }}" class="pt_cate ">
                    <span>Contacts</span>
                </a>
            </div>
        </div>

        <div class="clearBoth"></div>
    </div>
</nav>

