{% extends 'base.html.twig' %}
{% block title %}{{ agent.companyName }}{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        // prepare the form when the DOM is ready
        $(document).ready(function() {

            $('.js-request-user').on('click',function (e) {
                e.preventDefault();


                $(this).find('.fa-plus-circle')
                    .removeClass('fa-plus-circle')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');
                $.ajax({
                    url: $(this).data('url'),
                    method: 'GET'
                }).done(function () {
                    $(".messages").fadeIn("slow");

                    $("#add-t-cart")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    location.reload();
                }).fail(function () {
                    $(".failure").fadeIn("slow");

                    $("#add-t-cart")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-times');
                });
            });
            // bind to the form's submit event
            $('#rating-form').submit(function(f) {
                var ajaxRequest;
                //Prevent Normal Submit
                f.preventDefault();

                $(".messages").fadeOut("slow");

                $(this).find('.fa-telegram')
                    .removeClass('fa-telegram')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                var form = document.getElementById("rating-form");
                var elements = form.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                // get form values
                var ratingValues = $(this).serialize();

                $.ajax({
                    url: $(this).attr("action"),
                    data: ratingValues,
                    method: 'POST'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $(".control").fadeOut("slow");


                    $("#rate")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    location.reload();
                })

            });

            // bind to the form's submit event
            $('#comment-form').submit(function(f) {
                var ajaxRequest;
                //Prevent Normal Submit
                f.preventDefault();

                $(".messages").fadeOut("slow");

                $(this).find('.fa-telegram')
                    .removeClass('fa-telegram')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                var form = document.getElementById("comment-form");
                var elements = form.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                // get form values
                var commentValues = $(this).serialize();

                $.ajax({
                    url: $(this).attr("action"),
                    data: commentValues,
                    method: 'POST'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $(".control").fadeOut("slow");


                    $("#comment")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    location.reload();
                }).fail(function () {
                    $(".failure").fadeIn("slow");

                    $("#comment")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-times');
                });

            });

        });


    </script>
{% endblock %}
{% block pageclass %}
<body data-container="body" itemscope="itemscope"
      class="catalog-product-view product page-layout-1column" aria-busy="false">
{% endblock %}
{% block body %}

    <div class="breadcrumbs">
        <ul class="items">
            <li class="item home">
                <a href="{{ path('home') }}" title="Go to Home Page">
                    Home </a>
            </li>
            <li class="item home">
                <a href="{{ path('buyer_agents') }}" title="Go to Home Page">
                    agents </a>
            </li>
            <li class="item product">
                <strong>{{ agent.companyName }}</strong>
            </li>
        </ul>
    </div>
    <main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

        <div class="page messages">
            <div class="messages" style="">
                <div class="message-success success message">
                    <div>
                        You added {{ agent.companyName }} to your List of agents.
                    </div>
                </div>

            </div>
        </div>
        <div class="page failure">

            <div class="alert alert-danger">
                <strong>:-(</strong> Something went wrong. Refresh the Page and try again.
            </div>

        </div>
        <div class="columns">
            <div class="column main">
                <div class="product-info-main">
                    <div class="page-title-wrapper product">
                        <h1 class="page-title">
				<span class="base" data-ui-id="page-title-wrapper" itemprop="name">
				{{ agent.companyName }}</span></h1>
                    </div>

                    {% if agent.reviews | length > 0 %}

                        {% set sumQualityratings = 0 %}
                        {% set avgQualityRatings=0 %}
                        {% for rating in agent.reviews %}
                            {% set sumQualityratings = sumQualityratings + rating.quality %}
                        {% endfor %}
                        {% set avgQualityRatings= (sumQualityratings / agent.reviews|length) | round %}

                        {% set sumValueratings = 0 %}
                        {% set avgValueRatings=0 %}
                        {% for rating in agent.reviews %}
                            {% set sumValueratings = sumValueratings + rating.value %}
                        {% endfor %}
                        {% set avgValueRatings= (sumValueratings / agent.reviews|length) | round %}

                        {% set sumPriceratings = 0 %}
                        {% set avgPriceRatings=0 %}
                        {% for rating in agent.reviews %}
                            {% set sumPriceratings = sumPriceratings + rating.price %}
                        {% endfor %}
                        {% set avgPriceRatings= (sumQualityratings / agent.reviews|length) | round %}

                        {% set avgrating=0 %}
                        {% set avgrating = (avgQualityRatings+avgValueRatings+avgPriceRatings)/3 %}

                        {{ avgrating | rating(5, "fa-lg")   }}
                    {% else %}
                        {{ 0 | rating(5, "fa-lg")   }}
                    {% endif %}

                    <div class="product-add-form">
                        {% if agentExists %}
                        {% else %}
                            <div class="box-tocart">
                                <div class="fieldset">

                                    <div class="actions">
                                        <a href="#"  class="action request js-request-user"
                                           data-url="{{ path('request-agent-buyer',{
                                               'id': agent.id
                                           }) }}"
                                           title="Request Agent"><span id="add-t-cart" class="fa fa-plus-circle"></span>  Add Agent</a>          </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>


                    <div class="product attribute overview">
                        <div class="value" itemprop="description">

                            <table>
                                <tr>
                                    <td><strong>Name:</strong> {{ agent.companyName }}</td>
                                    <td><strong>Country:</strong> {{ agent.country }}</td>
                                </tr>
                                <tr>
                                    <td><strong>No. of Growers:</strong> {{ nrGrowers }}</td>
                                    <td><strong>No. of Buyers:</strong> {{ nrBuyers }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>About Agent:</strong> <br/>{{ agent.aboutCompany }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Number of Employees: {{ agent.numberOfEmployees }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Phone Number:</strong> {{ agent.telephoneNumber }}</td>
                                    <td><strong>Website:</strong> {{ agent.website }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Email:</strong> {{ agent.email }}</td>
                                    <td><strong>Social Media:</strong> <br/>
                                        Facebook: <a href="{{ agent.facebookPage }}">{{ agent.facebookPage }}</a><br/>
                                        Twitter: <a href="{{ agent.twitterPage }}">{{ agent.twitterPage }}</a><br/>
                                        Instagram: <a href="{{ agent.instagramPage }}">{{ agent.instagramPage }}</a>
                                    </td>
                                </tr>
                            </table>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="product media">
                    <div class="gallery-placeholder" data-gallery-role="gallery-placeholder">
                        {% if agent.gallery %}
                            <img aria-hidden="false" width="300" height="329" class="fotorama__img"
                                 src="{{ asset('images/products/') }}{{ agent.gallery.logo.imageName }}">

                            <table class="gallery cf">
                                <tr>
                                    {% if agent.gallery.image1 %}
                                        <td><img class="nim" width="150"
                                                 src="{{ asset('images/products/') }}{{ agent.gallery.image1.imageName }}"></td>
                                    {% endif %}
                                    {% if agent.gallery.image2 %}
                                        <td><img class="nim"  width="150"
                                                 src="{{ asset('images/products/') }}{{ agent.gallery.image2.imageName }}"></td>
                                    {% endif %}
                                    {% if agent.gallery.image2 %}
                                        <td><img class="nim"  width="150"
                                                 src="{{ asset('images/products/') }}{{ agent.gallery.image3.imageName }}"></td>
                                    {% endif %}
                                    {% if agent.gallery.image2 %}
                                        <td><img class="nim"  width="150"
                                                 src="{{ asset('images/products/') }}{{ agent.gallery.image4.imageName }}"></td>
                                    {% endif %}
                                    {% if agent.gallery.image2 %}
                                        <td><img class="nim"  width="150"
                                                 src="{{ asset('images/products/') }}{{ agent.gallery.image5.imageName }}"></td>
                                    {% endif %}
                                </tr>
                            </table>
                        {% else %}
                            <img aria-hidden="false" width="300" height="329" class="fotorama__img"
                                 src="{{ asset('images/avatar.jpg') }}">

                        {% endif %}
                    </div>
                </div>

            </div>

            <div class="product info detailed">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#roses"><b>Roses in Market</b></a> </li>

                    <li><a data-toggle="tab" href="#reviews"><b>Reviews</b></a></li>
                    <li><a data-toggle="tab" href="#comments"><b>Comments</b></a></li>
                </ul>
                <div class="tab-content">

                    <div id="roses" class="tab-pane fade in active">
                        <div id="product-review-container" data-role="product-review">
                            <div class="block review-list" id="customer-reviews">
                                <div class="block-content">
                                    <div class="products wrapper list products-list">
                                        <ol class="products list items product-items">
                                            {% for auction in products %}
                                                <li class="item product product-item" style="float: left;max-width:450px">
                                                    <div class="product-item-info" data-container="product-grid">
                                                        <div class=" product-item-images">
                                                            <a class="product photo product-item-photo"
                                                               href="{{ path('buyer_product_details',{
                                                                   'id': auction.id
                                                               }) }}" tabindex="-1">
						<span class="product-image-container" style="width: 350px;">
						<span class="product-image-wrapper" style="padding-bottom: 126%;">
						<img alt="{{ auction.whichAuction.product.title }}" class="product-image-photo" height="441"
                             src="{{ asset('images/products/') }}{{ auction.whichAuction.product.mainImage }}" alt="{{ auction.whichAuction.product.title }}"
                             width="350"></span>
						</span></a></div>
                                                        <div class="product-item-details">
                                                            <div class="content-name">
                                                                <strong class="product name product-item-name">
                                                                    <a class="product-item-link"
                                                                       href="{{ path('buyer_product_details',{
                                                                           'id': auction.id
                                                                       }) }}">
                                                                        {{ auction.whichAuction.product.title }} </a></strong>
                                                            </div>
                                                            <div class="product-reviews-summary short">
                                                                <div class="rating-summary">
                                                                    <span class="label"><span>Rating:</span></span>

                                                                    <div class="rating-result" title="80%">
                                                                        <span style="width: 80%"><span>80%</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="reviews-actions">
                                                                    <a class="action view" href="#">
                                                                        1&nbsp;<span>Review</span></a></div>
                                                            </div>
                                                            <div class="price-box price-final_price" data-product-id="63" data-role="priceBox">
							<span class="price-container price-final_price tax weee">
							<span class="price-wrapper " data-price-amount="72" data-price-type="finalPrice">
							<span class="price">{{ app.user.myCompany.currency }} {{ auction.pricePerStem | convertCurrency(auction.whichAuction.product.vendor.currency,app.user.myCompany.currency) }}</span> </span></span>
                                                            </div>
                                                            <table class="attributes">
                                                                <tr>
                                                                    <td><strong>Color:</strong> {{ auction.whichAuction.product.color }}</td>
                                                                    <td><strong>Season:</strong> {{ auction.whichAuction.product.season }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><strong>Stem Length: </strong>{{ auction.whichAuction.product.stemLength }}</td>
                                                                    <td><strong>Quality:</strong> {{ auction.whichAuction.quality }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><strong>Stock:</strong> {{ auction.availableStock | number_format }}</td>
                                                                </tr>
                                                                <tr><td colspan="2"><strong>Grower: </strong> {{ auction.whichAuction.product.vendor }}</td></tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% else %}
                                                <p style="text-align: center;width:100%">This agent has no Roses in Market</p>
                                            {% endfor %}
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="reviews" class="tab-pane fade"><br/>
                        <div id="product-review-container" data-role="product-review"><div class="block review-list" id="customer-reviews">
                                <div class="block-title">
                                    <strong>Customer Reviews</strong>
                                </div>
                                <div class="block-content">
                                    <ol class="items review-items">
                                        {% for review in agent.reviews %}
                                            <li class="item review-item">
                                                <div class="review-title" itemprop="name">{{ review.summary }}</div>
                                                <div class="review-ratings">
                                                    <div class="rating-summary item" itemprop="reviewRating" itemscope="">
                                                        <span class="rating-label"><b>Quality</b></span>
                                                        {{ review.quality | rating(5, "fa-lg") }}
                                                    </div>
                                                    <div class="rating-summary item">
                                                        <span class="rating-label"><b>Price</b></span>
                                                        {{ review.price | rating(5, "fa-lg") }}
                                                    </div>
                                                    <div class="rating-summary item" itemprop="reviewRating" itemscope="">
                                                        <span class="rating-label"><b>Value</b></span>
                                                        {{ review.value | rating(5, "fa-lg") }}
                                                    </div>
                                                </div>
                                                <div class="review-details">
                                                    <p class="review-author">
                                                        <span class="review-details-value">{{ review.review }}</span>
                                                    </p><br/>
                                                    <p class="review-author">
                                                        <span class="review-details-label">Review by</span>
                                                        <strong class="review-details-value" itemprop="author">{{ review.ratedBy.myCompany }}</strong>
                                                    </p>
                                                    <p class="review-date">
                                                        <span class="review-details-label">Reviewed on</span>
                                                        <time class="review-details-value" itemprop="datePublished" datetime="{{ review.createdAt | date }}">{{ review.createdAt | date }}</time>
                                                    </p>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li>No Reviews Found<br/><br/></li>
                                        {%  endfor %}
                                    </ol>

                                </div>

                            </div>
                        </div>

                        {{ render(controller('AppBundle:Rating/Rating:userRating',{'companyId':agent.id })) }}
                    </div>
                    <div id="comments" class="tab-pane fade"><br/>
                        <div id="product-review-container" data-role="product-review">
                            <div class="block review-list" id="customer-reviews">
                                <div class="block-title">
                                    <strong>Comments</strong>
                                </div>
                                <div class="block-content">
                                    <ol class="items review-items">
                                        {% for comment in agent.comments %}
                                            <li class="item review-item">

                                                <div class="review-details">
                                                    <p class="review-author">
                                                        <span class="review-details-value">{{ comment.commentText }}</span>
                                                    </p><br/>
                                                    <p class="review-author">

                                                        <strong class="review-details-value" itemprop="author">{{ comment.author.myCompany }}</strong>
                                                    </p>
                                                    <p class="review-date">

                                                        <time class="review-details-value" itemprop="datePublished" datetime="{{ comment.createdAt | date }}">{{ comment.createdAt | date }}</time>
                                                    </p>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li>No Comments Found<br/><br/></li>
                                        {%  endfor %}
                                    </ol>

                                </div>

                            </div>
                        </div>
                        <br/>
                        {{ render(controller('AppBundle:Comment/Comment:userComment',{'companyId':agent.id })) }}
                    </div>
                </div>

            </div>
        </div>
        </div>
    </main>

{% endblock %}
