{% extends 'base.html.twig' %}
{% block title %}{{ agent.fullName }}{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        // prepare the form when the DOM is ready
        $(document).ready(function() {

            $('.js-request-user').on('click',function (e) {
                e.preventDefault();


                $(this).find('.fa-plus-circle')
                    .removeClass('fa-plus-circle')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');
                $.ajax({
                    url: $(this).data('url'),
                    method: 'GET'
                }).done(function () {
                    $(".messages").fadeIn("slow");

                    $("#add-t-cart")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                }).fail(function () {
                    $(".failure").fadeIn("slow");

                    $("#add-t-cart")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-times');
                });
            });
            // bind to the form's submit event
            $('#rating-form').submit(function(f) {
                var ajaxRequest;
                //Prevent Normal Submit
                f.preventDefault();

                $(".messages").fadeOut("slow");

                $(this).find('.fa-telegram')
                    .removeClass('fa-telegram')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                var form = document.getElementById("rating-form");
                var elements = form.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                // get form values
                var ratingValues = $(this).serialize();

                $.ajax({
                    url: $(this).attr("action"),
                    data: ratingValues,
                    method: 'POST'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $(".control").fadeOut("slow");


                    $("#rate")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    location.reload();
                })

            });

            // bind to the form's submit event
            $('#comment-form').submit(function(f) {
                var ajaxRequest;
                //Prevent Normal Submit
                f.preventDefault();

                $(".messages").fadeOut("slow");

                $(this).find('.fa-telegram')
                    .removeClass('fa-telegram')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                var form = document.getElementById("comment-form");
                var elements = form.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].readOnly = true;
                }
                // get form values
                var commentValues = $(this).serialize();

                $.ajax({
                    url: $(this).attr("action"),
                    data: commentValues,
                    method: 'POST'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $(".control").fadeOut("slow");


                    $("#comment")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    location.reload();
                }).fail(function () {
                    $(".failure").fadeIn("slow");

                    $("#comment")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-times');
                });

            });

        });


    </script>
{% endblock %}
{% block pageclass %}
<body data-container="body" itemscope="itemscope"
      class="catalog-product-view product page-layout-1column" aria-busy="false">
{% endblock %}
{% block body %}

<div class="breadcrumbs">
    <ul class="items">
        <li class="item home">
            <a href="{{ path('home') }}" title="Go to Home Page">
                Home </a>
        </li>
        <li class="item home">
            <a href="{{ path('buyer_agents') }}" title="Go to Home Page">
                Agents </a>
        </li>
        <li class="item product">
            <strong>{{ agent.fullName }}</strong>
        </li>
    </ul>
</div>
<main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

    <div class="page messages">
        <div class="messages" style="">
            <div class="message-success success message">
                <div>
                    You added {{ agent.fullName }} to your List of Agents.
                </div>
            </div>

        </div>
    </div>
    <div class="page failure">

                <div class="alert alert-danger">
                    <strong>:-(</strong> Something went wrong. Refresh the Page and try again.
                </div>

    </div>
    <div class="columns">
        <div class="column main">
            <div class="product-info-main">
                <div class="page-title-wrapper product">
                    <h1 class="page-title">
				<span class="base" data-ui-id="page-title-wrapper" itemprop="name">
				{{ agent.fullName }}</span></h1>
                </div>


                <div class="product-add-form">

                    <div class="box-tocart">
                        <div class="fieldset">

                            <div class="actions">
                                &nbsp; <a href="#"  class="action request js-request-user"
                                          data-url="{{ path('request-agent-buyer',{
                                              'id': agent.id
                                          }) }}"
                                          title="Request Agent"><span id="add-t-cart" class="fa fa-plus-circle"></span>  Add Agent</a>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="product attribute overview">
                    <div class="value" itemprop="description">

                        <ul>
                            <li><b>Agent Name:</b> {{ agent.fullName }}</li>
                             <li>{{ nrProducts }} Active Rose(s) in Auction</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="product media">
                <div class="gallery-placeholder" data-gallery-role="gallery-placeholder">

                    <div class="fotorama--hidden">
                    </div>
                    <style>
                        .fotorama1493313427134 .fotorama__nav--thumbs .fotorama__nav__frame {
                            padding: 2px;
                            height: 110px;
                        }

                        .fotorama1493313427134 .fotorama__thumb-border {
                            height: 110px;
                            border-width: 2px;
                            margin-top: 2px;
                        }
                    </style>
                    <div class="fotorama-item fotorama fotorama1493313427134" data-gallery-role="gallery">
                        <div data-gallery-role="fotorama__focusable-start" tabindex="-1">
                        </div>
                        <div class="fotorama__wrap fotorama__wrap--css3 fotorama__wrap--slide fotorama__wrap--toggle-arrows fotorama__wrap--no-controls"
                             style="min-width: 0px; max-width: 100%;">
                            <div class="fotorama__stage" data-fotorama-stage="fotorama__stage"
                                 style="width: 491px; height: 618px;">
                                <div aria-label="Exit fullscreen" class="fotorama__fullscreen-icon"
                                     data-gallery-role="fotorama__fullscreen-icon" role="button" tabindex="0">
                                </div>
                                <div aria-label="Previos" class="fotorama__arr fotorama__arr--prev"
                                     data-gallery-role="arrow" role="button" tabindex="0">
                                    <div class="fotorama__arr__arr">
                                    </div>
                                </div>
                                <div class="fotorama__stage__shaft fotorama__grab" data-gallery-role="stage-shaft"
                                     style="width: 491px; margin-left: 0px; transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);"
                                     tabindex="0">
                                    <div aria-hidden="false"
                                         class="fotorama__stage__frame fotorama_vertical_ratio fotorama__loaded fotorama__loaded--img fotorama__active"
                                         data-active="true"
                                         href="#"
                                         style="left: 0px;">
                                        <img aria-hidden="false" width="500" height="629" class="fotorama__img"
                                             src="{{ asset('images/avatar.jpg') }}"></div>

                                </div>
                                <div aria-label="Next" class="fotorama__arr fotorama__arr--next"
                                     data-gallery-role="arrow" role="button" tabindex="0">
                                    <div class="fotorama__arr__arr">
                                    </div>
                                </div>
                                <div class="fotorama__video-close">
                                </div>
                                <div aria-label="Zoom in" class="fotorama__zoom-in zoom-in-loaded"
                                     data-gallery-role="fotorama__zoom-in" role="button" tabindex="0">
                                </div>
                                <div aria-label="Zoom out" class="fotorama__zoom-out zoom-out-loaded"
                                     data-gallery-role="fotorama__zoom-out" role="button" tabindex="0">
                                </div>
                                <div class="fotorama__spinner">
                                </div>
                            </div>

                        </div>
                        <div data-gallery-role="fotorama__focusable-end" tabindex="-1">
                        </div>
                    </div>
                    <div id="preview" class="magnifier-preview magnify-hidden" data-gallery-role="magnifier"
                         style="display: none;">
                    </div>
                </div>

            </div>

            <div class="product info detailed">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#auction"><b>Roses in Auction</b></a> </li>
                    <li><a data-toggle="tab" href="#reviews"><b>Reviews</b></a></li>
                    <li><a data-toggle="tab" href="#comments"><b>Comments</b></a></li>
                </ul>
                <div class="tab-content">

                    <div id="auction" class="tab-pane fade  in active">
                        <div id="product-review-container" data-role="product-review">
                            <div class="block review-list" id="customer-reviews">
                                <div class="block-content">
                                    <div class="products wrapper grid products-grid">
                                        <ol class="products list items product-items">
                                            {% for product in products %}
                                                <li class="item product product-item">
                                                    <div class="product-item-info" data-container="product-grid">
                                                        <div class=" product-item-images">
                                                            <a class="product photo product-item-photo"
                                                               href="#" tabindex="-1">
						<span class="product-image-container" style="width: 350px;">
						<span class="product-image-wrapper" style="padding-bottom: 126%;">
						<img alt="{{ product.title }}" class="product-image-photo" height="441"
                             src="{{ asset('images/products/') }}{{ product.imageName }}" alt="{{ product.title }}"
                             width="350"></span>
						</span></a></div>
                                                        <div class="product-item-details">
                                                            <div class="content-name">
                                                                <strong class="product name product-item-name">
                                                                    <a class="product-item-link"
                                                                       href="#">
                                                                        {{ product.title }} </a></strong>
                                                            </div>
                                                            <div class="product-reviews-summary short">
                                                                <div class="rating-summary">
                                                                    <span class="label"><span>Rating:</span></span>

                                                                    <div class="rating-result" title="80%">
                                                                        <span style="width: 80%"><span>80%</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="reviews-actions">
                                                                    <a class="action view" href="#">
                                                                        1&nbsp;<span>Review</span></a></div>
                                                            </div>
                                                            <div class="price-box price-final_price" data-product-id="63" data-role="priceBox">
							<span class="price-container price-final_price tax weee">
							<span class="price-wrapper " data-price-amount="72" data-price-type="finalPrice">
							<span class="price">{{ product.currency }} {{ product.price }}</span> </span></span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </li>
                                            {% else %}
                                                <p style="text-align: center;width:100%">This Agent has no Roses in Auction</p>
                                            {% endfor %}
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="reviews" class="tab-pane fade"><br/>
                        <div id="product-review-container" data-role="product-review"><div class="block review-list" id="customer-reviews">
                                <div class="block-title">
                                    <strong>Customer Reviews</strong>
                                </div>
                                <div class="block-content">
                                    <ol class="items review-items">
                                        {% for review in agent.agentReviews %}
                                            <li class="item review-item">
                                                <div class="review-title" itemprop="name">{{ review.summary }}</div>
                                                <div class="review-ratings">
                                                    <div class="rating-summary item" itemprop="reviewRating" itemscope="">
                                                        <span class="rating-label"><b>Quality</b></span>
                                                        {{ review.quality | rating(5, "fa-lg") }}
                                                    </div>
                                                    <div class="rating-summary item">
                                                        <span class="rating-label"><b>Price</b></span>
                                                        {{ review.price | rating(5, "fa-lg") }}
                                                    </div>
                                                    <div class="rating-summary item" itemprop="reviewRating" itemscope="">
                                                        <span class="rating-label"><b>Value</b></span>
                                                        {{ review.value | rating(5, "fa-lg") }}
                                                    </div>
                                                </div>
                                                <div class="review-details">
                                                    <p class="review-author">
                                                        <span class="review-details-value">{{ review.review }}</span>
                                                    </p><br/>
                                                    <p class="review-author">
                                                        <span class="review-details-label">Review by</span>
                                                        <strong class="review-details-value" itemprop="author">{{ review.ratedBy.myCompany }}</strong>
                                                    </p>
                                                    <p class="review-date">
                                                        <span class="review-details-label">Reviewed on</span>
                                                        <time class="review-details-value" itemprop="datePublished" datetime="{{ review.createdAt | date }}">{{ review.createdAt | date }}</time>
                                                    </p>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li>No Reviews Found<br/><br/></li>
                                        {%  endfor %}
                                    </ol>

                                </div>

                            </div>
                        </div>

                        {{ render(controller('AppBundle:Rating/Rating:agentRating',{'agentId':agent.id })) }}
                    </div>
                    <div id="comments" class="tab-pane fade"><br/>
                        <div id="product-review-container" data-role="product-review">
                            <div class="block review-list" id="customer-reviews">
                                <div class="block-title">
                                    <strong>Comments</strong>
                                </div>
                                <div class="block-content">
                                    <ol class="items review-items">
                                        {% for comment in agent.agentComments %}
                                            <li class="item review-item">

                                                <div class="review-details">
                                                    <p class="review-author">
                                                        <span class="review-details-value">{{ comment.commentText }}</span>
                                                    </p><br/>
                                                    <p class="review-author">

                                                        <strong class="review-details-value" itemprop="author">{{ comment.author.myCompany }}</strong>
                                                    </p>
                                                    <p class="review-date">

                                                        <time class="review-details-value" itemprop="datePublished" datetime="{{ comment.createdAt | date }}">{{ comment.createdAt | date }}</time>
                                                    </p>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li>No Comments Found<br/><br/></li>
                                        {%  endfor %}
                                    </ol>

                                </div>

                            </div>
                        </div>
                        <br/>
                        {{ render(controller('AppBundle:Comment/Comment:agentComment',{'agentId':agent.id })) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

{% endblock %}