{% extends 'base.html.twig' %}

{% block title %} My Agents {% endblock %}

{% block pageclass %}
<body data-container="body"
      class="page-with-filter page-products categorypath-short-sleeve category-short-sleeve catalog-category-view page-layout-2columns-left">
{% endblock %}
{% block body %}
    <div class="category-view">
        <div class="page-title-wrapper">
            <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">
                <span class="base" data-ui-id="page-title-wrapper">My Agents</span></h1>
        </div>
        <div class="breadcrumbs">
            <ul class="items">
                <li class="item home">
                    <a href="{{ path('home') }}" title="Go to Home Page">
                        Home </a>
                </li>
                <li class="item category131">
                    <strong><a href="{{ path('buyer_agents') }}">Agents</a></strong>
                </li>
                <li class="item category131">
                    <strong>My Agents</strong>
                </li>
            </ul>
        </div>
    </div>
    <main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

        <div class="page-title-wrapper">

        </div>
        <div class="page messages">
            <div data-placeholder="messages"></div>
            <div data-bind="scope: 'messages'">
                <div data-bind="foreach: { data: cookieMessages, as: 'message' }" class="messages"></div>
                <div data-bind="foreach: { data: messages().messages, as: 'message' }" class="messages"></div>
            </div>

        </div>
        <div class="columns">
            <div class="column main">
                <div class="cart table-wrapper">
                    <table id="shopping-cart-table" class="cart items data table">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="col item" scope="col"><span>Agent</span></th>
                            <th>Rating</th>
                            <th class="col price" scope="col"><span>Connected Since</span></th>

                        </tr>
                        </thead>
                        <tbody class="cart item">
                        {% for buyerAgent in buyerAgents %}
                            <tr class="item-info js-grower-item">
                                <td><img aria-hidden="false" width="100"  class="fotorama__img"
                                         src="{{ asset('images/products/') }}{{ buyerAgent.agent.logoName }}"></td>
                                <td data-th="Item" class="col item">
                                        <span class="product-image-container" style="width:165px;">
                                        <strong class="product-item-name">

                                            <span class="product-image-wrapper" style="padding-bottom: 100%;">
                                              <a href="{{ path('view_agent',{
                                                  'id':buyerAgent.agent.id
                                              }) }}">{{ buyerAgent.agent.companyName }}</a>
                                        </span>
                                        </strong>
                                        </span>
                                </td>
                                <td class="col subtotal" data-th="Subtotal">
                                    {% if buyerAgent.agent.reviews | length > 0 %}

                                        {% set sumQualityratings = 0 %}
                                        {% set avgQualityRatings=0 %}
                                        {% for rating in buyerAgent.agent.reviews %}
                                            {% set sumQualityratings = sumQualityratings + rating.quality %}
                                        {% endfor %}
                                        {% set avgQualityRatings= (sumQualityratings / buyerAgent.agent.reviews|length) | round %}

                                        {% set sumValueratings = 0 %}
                                        {% set avgValueRatings=0 %}
                                        {% for rating in buyerAgent.agent.reviews %}
                                            {% set sumValueratings = sumValueratings + rating.value %}
                                        {% endfor %}
                                        {% set avgValueRatings= (sumValueratings / buyerAgent.agent.reviews|length) | round %}

                                        {% set sumPriceratings = 0 %}
                                        {% set avgPriceRatings=0 %}
                                        {% for rating in buyerAgent.agent.reviews %}
                                            {% set sumPriceratings = sumPriceratings + rating.price %}
                                        {% endfor %}
                                        {% set avgPriceRatings= (sumQualityratings / buyerAgent.agent.reviews|length) | round %}

                                        {% set avgrating=0 %}
                                        {% set avgrating = (avgQualityRatings+avgValueRatings+avgPriceRatings)/3 %}

                                        {{ avgrating | rating(5, "fa-lg") }}

                                    {% endif %}

                                </td>
                                <td class="col subtotal" data-th="Subtotal">
                                    <span class="price-excluding-tax" data-label="Excl. Tax">
                                            <span class="cart-price">
                                                <span class="price">
                                                {{ buyerAgent.dateSince |date("d/m/Y") }}
                                                </span>
                                            </span>

                                    </span>
                                </td>



                            </tr>
                        {% else %}
                            <tr class="item-info">
                                <td data-th="Item" class="col item">
                                    You have No Agents on Record
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
            {% include(':home:sidebar.htm.twig') %}

        </div>
    </main>
{% endblock %}

