{% extends 'base.html.twig' %}
{% block title %} Order Details{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('.js-request-user').on('click', function (e) {
                e.preventDefault();

                var $el = $(this).closest('.js-agent-item');

                $(this).find('.fa-ship')
                    .removeClass('fa-ship')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');
                $.ajax({
                    url: $(this).data('url'),
                    method: 'GET'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $('.requestResponse').html('Order Update Successful');
                    $(".messages").fadeIn("slow");

                    $("#accept")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');
                    location.reload();

                });
            });
            $('.js-reject-user').on('click', function (e) {
                e.preventDefault();


                $(this).find('.fa-truck')
                    .removeClass('fa-truck')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');
                $.ajax({
                    url: $(this).data('url'),
                    method: 'GET'
                }).done(function () {
                    //$el.fadeOut("slow");
                    $('.requestResponse').html('Supply Request Successful');
                    $(".messages").fadeIn("slow");

                    $("#reject")
                        .removeClass('fa-spinner')
                        .removeClass('fa-spin')
                        .addClass('fa-check');

                });
            });
        })
    </script>
{% endblock %}
{% block body %}
    <div class="breadcrumbs">
        <ul class="items">
            <li class="item home">
                <a href="{{ path('grower_dashboard') }}" title="Go to Home Page">
                    Home </a>
            </li>
            <li class="item home">
                <a href="{{ path('grower_order_list') }}" title="Go to Home Page">
                    Received Orders </a>
            </li>
            <li class="item product.product">
                <strong>Order Details</strong>
            </li>
        </ul>
    </div>
    <div class="page messages">
        <div class="messages" style="">
            <div class="message-success success message">
                <div class="requestResponse">
                    You request has been processed.
                </div>
            </div>

        </div>
    </div>
    <section class="section-shopping-cart-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Below are the Details of this Order.
                        {% if orderItem.itemStatus != "Shipped" %}
                        <a
                                href="#"
                                class="action accept  js-request-user"
                                data-url="{{ path('breeder-ship-order',{
                                    'id': orderItem.id
                                }) }}"
                                title="Accept Request">
                            <span id="accept" class="fa fa-ship"> </span> Ship Order

                        </a>&nbsp;
                            {% endif %}
                        {% if orderItem.order.paymentStatus != "Complete" %}

                        <a
                                href="#"
                                class="action accept js-reject-user"
                                data-url="{{ path('breeder-accept-payment',{
                                    'id': orderItem.id
                                }) }}"
                                title="Cancel Request">
                            <span id="reject" class="fa fa-truck"> </span> Receive Payment

                        </a>
                            {% endif %}
                    </h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-9">
                    <table>
                        <thead>
                        <th></th>
                        <th>Name</th>
                        <th>Price Per Seedling</th>
                        <th>Quantity</th>
                        <th>SubTotal</th>
                        </thead>
                        <tr>
                            <td><div class="image">
                                    <img width="120" height="120" alt="" src="{{ asset('images/products/') }}{{ orderItem.product.product.mainImage }}">
                                </div>
                            </td>
                            <td>    <div class="title">
                                    {{ orderItem.product.product.title }}
                                </div>
                            </td>
                            <td>    <div class="unit-price">
                                    <span class="visible-xs">Price</span>
                                    {{ app.user.myCompany.currency }} {{ orderItem.unitPrice | convertCurrency(order.orderCurrency,app.user.myCompany.currency) }}
                                </div>
                            </td>
                            <td>    <div class="quantity">
                                    <span class="visible-xs">Quantity</span>
                                    {{ orderItem.quantity }}
                                </div>
                            </td>
                            <td>    <div class="total-price">
                                    <span class="visible-xs">Total</span>
                                    {{ app.user.myCompany.currency }} {{ orderItem.lineTotal | convertCurrency(order.orderCurrency,app.user.myCompany.currency) }}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="right-sidebar">
                        <p><strong>Order number: </strong> {{ orderItem.order.prettyId }} </p>
                        <p><strong>Ordered By: </strong> <a href="{{ path('grower_profile',{ 'id': order.user.myCompany.id }) }}"> {{ order.user.myCompany }}</a></p>
                        <p><strong>Shipping Address: </strong><br/>
                            {% if order.user.myCompany.shippingAddress is not empty  %}
                                {{ order.user.myCompany.shippingAddress[0].streetAddress }}, {{ order.user.myCompany.shippingAddress[0].town }},{{ order.user.myCompany.shippingAddress[0].zip }}<br/>
                                {{ order.user.myCompany.shippingAddress[0].country }},
                                {{ order.user.myCompany.shippingAddress[0].emailAddress }},  {{ order.user.myCompany.shippingAddress[0].phoneNumber }}
                            {% else %}
                                Not provided
                            {% endif %}
                        </p>
                        <p><strong>Payment method: </strong> {{ orderItem.order.processingFee }}<br/>
                            {% if orderItem.order.processingFee == 'rtgs' or orderItem.order.processingFee == 'cheque' %}
                                <a href="{{ asset('images/products/') }}{{ orderItem.order.imageName }}">View Payment Details</a>
                            {% else %}
                            {% endif %}
                        </p>
                        <p><strong>Payment status: </strong> {{ orderItem.order.paymentStatus }}</p>
                        <p><strong>Order Date: </strong> {{ orderItem.order.createdAt | date('d-m-Y H:i:s')  }}</p>
                        <p><strong>Subtotal:</strong> <i>{{ app.user.myCompany.currency }} {{ orderItem.order.orderAmount | convertCurrency(orderItem.order.orderCurrency,app.user.myCompany.currency) }}</i></p>
                        <p><strong>Shipping:</strong> <i>{{ app.user.myCompany.currency }} {{ orderItem.order.shippingCost | convertCurrency(orderItem.order.orderCurrency,app.user.myCompany.currency) }}</i></p>
                        <p class="subtotal"><strong>Total:</strong>  <i>{{ app.user.myCompany.currency }} {{ orderItem.order.orderTotal | convertCurrency(orderItem.order.orderCurrency,app.user.myCompany.currency) }}</i></p>
                        <div class="right">
                            <a class="action primary" href="{{ path('breeder_order_list') }}">Back to Orders</a><br/><br/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="clearfix"></div>
{% endblock %}