<div class="my-acount">
    <strong class="label" style="color:black;"><span>My Account<i style="color:#000;"
                    class="fa fa-angle-down">&nbsp;</i></span></strong>
    <ul class="header links">
        <li><a href="#">My Account</a></li>
        <li class="link wishlist" data-bind="scope: 'wishlist'">
            <a href="{{ path('breeder_order_list') }}">Orders
            </a>
        </li>

        <li class="authorization-link" data-label="or">
            <a href="{{ path('security_logout') }}">
                Logout </a>
        </li>
    </ul>
</div>

<div class="my-acount" style="margin-right: 60px;height:20px">
    <span class="fa-stack fa-2x has-badge" style="color: black;position:absolute" data-count="{{ render(controller('AppBundle:Breeder/Breeder:getTotalGrowerRequests')) }}">
    <i style="color: black" class="fa fa-envelope fa-1x fa-inverse"></i>
</span>
    <strong class="label" style="color:black;"></strong>
    <ul class="header links" style="left:-100px;margin-top:5px">
        <li class="top">Received Requests</li>
        <li><a href="{{ path('breeder_grower_requests') }}">Growers ( {{ render(controller('AppBundle:Breeder/Breeder:getTotalGrowerRequests')) }} )</a></li>

    </ul>
</div>

<div class="my-acount" style="margin-right: 60px;height:20px">
    <span class="fa-stack fa-2x has-badge" style="color: black;position:absolute" data-count="{{ render(controller('AppBundle:Breeder/Breeder:getMyTotalGrowerRequests')) }}">
    <i style="color: black" class="fa fa-exchange fa-1x fa-inverse"></i>
</span>
    <strong class="label" style="color:black;"></strong>
    <ul class="header links" style="left:-100px;margin-top:5px">
        <li class="top">My Requests</li>
        <li><a href="{{ path('my_grower_requests') }}">Growers ( {{ render(controller('AppBundle:Breeder/Breeder:getMyTotalGrowerRequests')) }} )</a></li>

    </ul>
</div>