<div class="my-acount">
    <strong class="label" style="color:black;"><span>My Account<i style="color: black"
                    class="fa fa-angle-down">&nbsp;</i></span></strong>
    <ul class="header links">

        <li class="link wishlist" data-bind="scope: 'wishlist'">
            <a href="{{ path('order_list') }}">My Orders

            </a>
        </li>
        <li><a href="{{ path('auction_order_list') }}">Auction Orders</a></li>
        <li class="authorization-link" data-label="or">
            <a href="{{ path('security_logout') }}">
                Logout </a>
        </li>
    </ul>
</div>
<div class="my-acount">
    <strong class="label" style="color:black;"><span>My Growers / Agents<i
                    style="color:#d61818" class="fa fa-angle-down">&nbsp;</i></span></strong>
    <ul class="header links">
        <li><a href="{{ path('my_buyer_growers') }}">My Growers</a></li>
        <li><a href="{{ path('my_buyer_agents') }}">My Agents</a></li>

    </ul>
</div>
<div class="my-acount" style="margin-right: 60px;height:20px">
    <span class="fa-stack fa-2x has-badge" style="color: black;position:absolute" data-count="{{ render(controller('AppBundle:User/Home:getTotalRequests')) }}">
    <i style="color: black" class="fa fa-envelope fa-1x fa-inverse"></i>
</span>
    <strong class="label" style="color:black;"></strong>
    <ul class="header links" style="left:-100px;margin-top:5px">
        <li class="top">Received Requests</li>
        <li><a href="{{ path('buyer_grower_requests') }}">Growers ( {{ render(controller('AppBundle:User/Home:getTotalGrowerRequests')) }} )</a></li>
        <li><a href="{{ path('buyer_agent_requests') }}">Agents ( {{ render(controller('AppBundle:User/Home:getTotalAgentRequests')) }} )</a></li>

    </ul>
</div>

<div class="my-acount" style="margin-right: 60px;height:20px">
    <span class="fa-stack fa-2x has-badge" style="color: black;position:absolute" data-count="{{ render(controller('AppBundle:User/Home:getMyTotalRequests')) }}">
    <i style="color: black" class="fa fa-exchange fa-1x fa-inverse"></i>
</span>
    <strong class="label" style="color:black;"></strong>
    <ul class="header links" style="left:-100px;margin-top:5px">
        <li class="top">My Requests</li>
        <li><a href="{{ path('my_buyer_grower_requests') }}">Growers ( {{ render(controller('AppBundle:User/Home:getMyTotalGrowerRequests')) }} )</a></li>
        <li><a href="{{ path('my_buyer_agent_requests') }}">Agents ( {{ render(controller('AppBundle:User/Home:getMyTotalAgentRequests')) }} )</a></li>

    </ul>
</div>