{% extends 'badmin.htm.twig' %}
{% block title %}Users{% endblock %}

{% block body %}
                        <table id="data" class="table table-striped b-t b-b">
                            <thead>
                            <tr>
                                <th class="numeric">Names</th>
                                <th class="numeric">Company</th>
                                <th class="numeric">Type</th>
                                <th class="numeric">Created At</th>
                                <th class="numeric">Last Login</th>
                                <th class="numeric">Status</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users  %}
                                <tr>
                                    <td data-title="#" class="numeric">{{ user.fullName }}</td>
                                    <td data-title="#" class="numeric">{{ user.myCompany }}</td>

                                    <td data-title="#" class="numeric">
                                    {{ user.myCompany.companyType }}
                                                                            </td>
                                    <td data-title="#" class="numeric">{{ user.accountCreatedAt | date("F jS \\a\\t g:ia") }}</td>
                                    <td data-title="#" class="numeric">
                                        {% if user.lastLoginTime != "" %}
                                        {{ user.lastLoginTime | date("F jS \\a\\t g:ia") }}
                                        {% else %}
                                            N/A
                                        {% endif %}

                                        </td>
                                    <td data-title="#" class="numeric">
                                        {% if user.isActive %}
                                        <div style="padding: 8px;text-align: center;" class="alert alert-success">
                                            Active
                                        </div>
                                        {% else %}
                                        <div style="padding: 8px;text-align: center;" class="alert alert-danger">
                                            Inactive
                                        </div>
                                        {% endif %}
                                    </td>

                                </tr>
                            {% endfor  %}
                            </tbody>
                        </table>
{% endblock %}